[2017-05-23 12:15] zaceno opened #1 "npm install doesn't work"
`npm install turbodom` yields a folder `node_modules/turbodom` containing nothing but a `package.json` file.

Installing through: `npm install turbodom/turbodom` (from github repo), creates the `node_modules/turbodom` folder containing only: `package.json`, `LICENSE.md` and `README.md`

In either case `require('turbodom')` can't work

[2017-05-23 16:26] jbucaran commented on #1
Published as 0.0.1.

[2017-05-23 16:26] #1 closed

[2017-05-25 09:37] jbucaran opened #3 "Add tests."
Add tests in test.js.

- [x] Choose a test framework jest
- [x] Test `h.js`
- [ ] Test `patch.js`
  - [ ] Test individual functions.

[2017-05-25 09:39] jbucaran opened #4 "Add documentation."
- [x] Tidy up README.
  - Best if there was only one, but good example.
- [x] Add documentation under /docs.
- [x] Complete API docs: add lifecycle events, keys, etc.

[2017-05-28 12:01] jbucaran opened #5 "Enhance lifecycle events."
/cc @ngryman

[2017-05-28 12:49] ngryman commented on #5
I guess we are speaking about hooks, which produce internal side-effects, as opposed to events.

Well basically, you could expose the same hooks as Snabbdom: https://github.com/snabbdom/snabbdom#overview

What do you think?

[2017-05-28 13:19] jbucaran commented on #5
Nice. Snabbdom can teach us a lot here, but I'd like to keep things as simple as possible too.

[2017-06-02 08:09] acstll opened #6 "Input type=text selection resets."
If you type somewhere in the middle of the input field, the cursor jumps to the end.

https://codepen.io/picodom/pen/BRbJpG?editors=0010

[2017-06-02 08:22] jbucaran commented on #6
Yes. This is related to: https://github.com/hyperapp/hyperapp/pull/137.

There may be a simpler solution / fix via setElementData.

We can probably learn from Preact here.
- https://github.com/developit/preact/blob/47a85cf8bd4c50b45fa114171a5980fd88cade23/src/dom/index.js#L80

[2017-06-03 06:07] #6 closed

[2017-06-03 06:08] jbucaran commented on #6
@acstll ec4d182

[2017-06-03 09:31] jbucaran commented on #5
@ngryman Your ideas are intriguing to me and I wish to know more.

[2017-06-03 14:07] ngryman commented on #5
It depends on the degree of control you want to give to users.

If it's just reacting to lifecycle events, I guess current implementation is enough.

If you want to give more control on internal stuff (IoC), the above propositions could allow users to potentially:
 - mutate the vdom tree: custom tags/dsl, higher order components, ...
 - prune a part of the tree during diffing/patching: optimizatio

[2017-06-03 14:13] jbucaran commented on #5
@ngryman Returning false in oncreate skips creating the element and its children?

[2017-06-03 20:43] ngryman commented on #5
@jbucaran I guess so, until it finally returns nothing (`null` or `undefined`) or a node.

[2017-06-06 15:43] pspeter3 opened #7 "TypeScript Conversion"
This looks really great. How would you feel about converting to TypeScript? (happy to help)

[2017-06-06 15:47] jbucaran commented on #7
@pspeter3 Let's do it!

[2017-06-06 16:14] jbucaran commented on #7
Ping @ngryman! 💪

[2017-06-07 15:47] sumeetsarkar commented on #7
Sure! I will like to help too

[2017-06-07 22:17] pspeter3 commented on #7
Alright, I think that in order to convert to TypeScript, there are a few things that we should do:

- [ ] *Update to NPM5 and update dependencies* The logic here is that we should have the code working with the newest versions of things. NPM5 lock files are nice and `prettier@1.4.0` supports TypeScript. I have a working example of that.
- [ ] *Convert core code to TypeScript* I can work on this. I

[2017-06-08 04:10] jbucaran commented on #7
@pspeter3 Looking good, but can we also elaborate on the advantages and disadvantages of rewriting the project in TypeScript?

Also, picodom is advertised as a 1 KB library. Do you think rewriting everything in TypeScript will yield a bundle >1 KB?

[2017-06-08 14:59] jbucaran commented on #7
With regards to tests: See #3.

As for the implementation, we can learn from hyperapp here:

- https://github.com/hyperapp/hyperapp/tree/master/test

[2017-06-08 16:52] pspeter3 commented on #7
@jbucaran Great questions! My belief is that compiling to `ES6` as a target would maintain the same code size while compiling to lower targets such as `ES3` would increase code size but allow backward compatibility.

**Pros**
- Type safe code which should remove common bugs, especially around null checking
- First class support for other TypeScript projects. Most projects rely on hand written Type

[2017-06-09 01:06] jbucaran commented on #7
Thanks @pspeter3. Another con is:

- Less visibility (JavaScript projects tend to trend and gain more visibility on GitHub).

However, I'd still like to move forward with this, and see where it lead us.

[2017-06-09 14:16] pspeter3 commented on #7
Sounds good, I'll work on converting core and then we can add the jsx name space

[2017-06-09 18:14] pspeter3 commented on #7
Given this library, https://github.com/TylorS167/mostly-dom, is converting worth it?

[2017-06-09 19:11] jbucaran commented on #7
@pspeter3 BTW, before a full convert, we could also try introducing [flow](https://flow.org/) or add .ts typings.

[2017-06-09 19:14] jbucaran commented on #7
I had a look. Don't see how it affects/relates picodom 🤔

[2017-06-09 19:15] pspeter3 commented on #7
I agree, that's why I deleted the comment. It just seemed like another TypeScript VDOM technology

[2017-06-11 23:18] ngryman commented on #7
I will probably sound like an old grumpy but honestly I don't see any point in using Typescript for such a project, and more generally I don't understand why all the fuzz around it.

I won't start a whole debate here, but JavaScript is what it is: a multi-paradigm language (functional / imperative) leveraging OLOO. It's not an OO language and even if ES6 *sadly* brings `class`, it will never be. I

[2017-06-12 03:03] jbucaran commented on #7
I agree with @ngryman. So, to make the cake we will need the following ingredients:

- Static type checking (Flow?)
- Type definitions (typings.json, *.d.ts)

@pspeter3 Would you still be interested in collaborating in picodom if we call off the Typescript rewrite?

[2017-06-12 03:28] pspeter3 commented on #7
While I disagree with your reasoning about the costs and benefits, I respect your decision and appreciate your honest and thoughtful viewpoint. I personally am not very motivated to work on the type definitions. My experience from maintaining the React type definitions and working with other virtual DOM implementations is that the type definitions easily get out of sync with the codebase. The larg

[2017-06-12 03:36] jbucaran commented on #7
@pspeter3 I agree with you on the type definitions, and I would wait until things are more stable (stable atm if you ask me though). What about flow?

I'm not an expert, so I'd love to hear your reply to @ngryman's comments. We're all learning here. I'm learning.

[2017-06-12 08:43] ngryman commented on #7
True, and I'd like to hear if I've missed something.

Again I don't really want to debate if X is better than Y, that's not the point. But if you have a strong experience with Typescript (which I don't) and you see real advantages that I failed to see, I'm totally open and curious to get that knowledge.

[2017-06-12 19:38] pspeter3 commented on #7
I think the biggest point of contention is that TypeScript encourages you to write code in a certain way. TypeScript is a super set of JavaScript so the code can be nearly identical, see the examples below. While I agree with TypeScript not being an open standard, there is talk of adding type annotations to ES7, and it is always possible to compile the TypeScript code to JavaScript and delete the

[2017-06-14 19:01] ngryman commented on #7
@pspeter3 Thanks for the writeup and the precisions.

What I like in `h.ts` is that with type definitions, it's self documented and brings type checking goodness for users (even if I still find this quite superfluous in a project like this).
The fact that it catches bugs is not really an argument for me as a good test suite does very well the job (even way better) if well written of course.

What

[2017-06-15 02:27] jbucaran opened #9 "Keys"
The current implementation of picodom **supports** [keyed elements](https://github.com/hyperapp/hyperapp/blob/master/docs/keys.md#keys).

This was an important feature in HyperApp, but is it just as important in picodom and can we avoid it?

/cc @zaceno

[2017-06-15 02:33] jbucaran commented on #7
I'd like to keep this issue open and hope to get more feedback from other people.

[2017-06-15 06:55] zaceno commented on #9
Yes, I think keys are equally as (if not more!) important in picodom as in hyperapp.

It's a feature that needs to be present in the vdom layer of any vdom-based web stack (be that hyperapp or picodom+whatever), in order to enable all the use-cases we talked about when we introduced keys in hyperapp.

I don't think we can avoid keys if we want picodom to be generally useful.

There may be ways to

[2017-06-15 16:23] jbucaran opened #10 "Flow?"
Should we use flow?

- http://thejameskyle.com/adopting-flow-and-typescript.html
- #7

[2017-06-15 17:52] zaceno commented on #10
For myself (who has never used typescript or flow in anything, so I shouldn't really be talking... :-P ) I don't really see the point of adding a type checker to this, as it:

- is small and readable,
- has plenty of good tests (we brought the hyperapp tests over, right?)
- it's a library, not app code

but at the same time It wouldn't do any harm (I think?) So if adding Flow would give you that g

[2017-06-15 17:58] zaceno commented on #3
I've been wanting to use https://github.com/avajs/ava/blob/master/readme.md for a work project but failed to make the tests work in parallel, so I gave up. But for a project like picodom it ought to work very well (and make the tests run very fast)

[2017-06-15 18:04] zaceno commented on #10
Ah... I see now that we did not bring the hyperapp tests over yet. We should do that. I also noticed there's already an issue about that. Once we settle on a test framework, I'm happy to help out porting the tests (time permitting)

[2017-06-16 09:46] sumeetsarkar commented on #10
Hi, I think we do not need to invest a lot for Flow, instead, for a small lib like picodom (which is already readable), let's use the [comment based syntax](https://flow.org/en/docs/types/comments/) of Flow for type checking.

[2017-06-16 12:55] jbucaran commented on #10
@sumeetsarkar I didn't know about this. Thanks for suggesting it.

[2017-06-16 22:26] zaceno opened #11 "Slots?"
Vue components have this feature: https://vuejs.org/v2/guide/components.html#Named-Slots Seems like this feature is possible in React as well, albeit by plugging in some third party components

Now I wouldn't say this is a crictical feature exactly, but it makes layout-components a bit more readable. I haven't given it very much thought, but it seems like it's not possible with picodom today to cr

[2017-06-16 23:51] jbucaran commented on #11
What are layout components? And how do they become more readable?

Can you show me some code? :)

[2017-06-17 23:50] zaceno commented on #11
Oh I meant to say: it makes *using* layout components more readable. A layout component (I may have just made up that term) is a component meant to wrap multiple groups of children, in different places.

The following works today:

[code]

... and then you might use it like this:

[code]

With the concepts of slots, maybe the layout component could look the same, but have the following signature i

[2017-06-18 02:38] jbucaran commented on #11
@zaceno Can you compare slots to custom tags?

I'm confused about the part where you said:

... considering we can (and should) use custom tags instead of calling functions like in your example.

- https://github.com/hyperapp/hyperapp/blob/master/docs/custom-tags.md

[2017-06-18 07:30] zaceno commented on #11
@jbucaran A custom tag is a function, right, with the following signature: `const MyTag = (props, children) => ...` where children is an *Array* of child-nodes to be inserted somewhere in the custom tag.

What I'm suggesting is to make it possible to pass *multiple* sets of children to a custom tag.  In my suggestion, *children* can be an *Object* with named Arrays, rather than just a single array

[2017-06-18 07:47] zaceno commented on #11
@jbucaran, If I get what you're saying, you would write my example in the following way:

[code]

In any layout, there may be structure that is internal to how the layout works, and best not to expose outside it. In this example, such a structure is that the "top" and "main" areas need to be contained in a "right" area. The benefit of "my way" is that the entire layout is contained in a single com

[2017-06-18 09:20] jbucaran commented on #11
@zaceno So, it comes down to

...now:

[code]

vs slots / new feature:

[code]

@zaceno Can you fill in the missing code `AppLayout`?

[2017-06-18 09:31] zaceno commented on #11
Yup! Missing code:

[code]

[2017-06-18 10:24] jbucaran commented on #11
@zaceno Thank you! Now, I understand slots more or less. 🙇

[2017-06-18 10:29] jbucaran commented on #11
@zaceno Can you please remind me what's wrong with just doing this?

[code]

[2017-06-18 11:07] zaceno commented on #11
@jbucaran, right. Especially if the layout code is even more complex than in my example.

[2017-06-18 11:09] zaceno commented on #11
... I'm not coming at it so much from the need to reuse/repeat so much as to keep the layout complexity encapsulated. But yeah, reusability is an important point as well

[2017-06-27 00:49] smelnicki opened #12 "Broken link to the API documentation"
Hello!

Thank you for sharing this. Very cool stuff!

I was poking around the documentation and noticed the [README.md](https://github.com/picodom/picodom/blob/master/docs/README.md) in the docs directory wasn't correctly routing to the [api.md](https://github.com/picodom/picodom/blob/master/docs/api.md) file.

Thought I might help out (albeit in the smallest way possible) while I was browsing aro

[2017-06-27 01:23] jbucaran commented on #12
Thanks @smelnicki! 👍

[2017-06-27 01:23] #12 closed

[2017-07-05 12:56] fccoelho7 opened #16 "Where are tests? :/"
First, thank you and congratulations for this amazing library.

We adopted VanilllaJS and it can solve a lot of problems like: bind events in literal dom strings, child replacement right way etc.

BUT

No tests are made and we're afraid to use it. I was seeing the code, and it's really simple. I imagine that tests will be easy. Has any prevision to do it? If you need help, we can relief you.

Rega

[2017-07-05 13:14] jbucaran commented on #16
Hi @fccoelho7,

You are totally right! Picodom is based on [HyperApp](https://github.com/hyperapp/hyperapp)'s internal virtual-DOM-engine which is tested and has 100% coverage, but that's not an excuse. 🙇

I will work on migrating some of those tests and adapt here very soon and ping you again.

### See Also
- https://github.com/picodom/picodom/issues/3

[2017-07-06 00:07] leo-shopify commented on #10
For what is worth, typescript also supports [comment syntax](https://github.com/Microsoft/TypeScript/wiki/JSDoc-support-in-JavaScript), and since it uses standard [jsDoc](http://usejsdoc.org/) syntax it operates with other tools that support it.

[2017-07-06 00:16] leo-shopify commented on #7
You could also use the [jsdoc style type annotations](https://github.com/Microsoft/TypeScript/wiki/JSDoc-support-in-JavaScript) along with `--allowJs` to keep the source files as standard js syntax.
A very [simple example](https://github.com/leo-shopify/typescript-trial) to illustrate.
I haven't used it yet so I don't know if it works as advertised or not.

[2017-07-06 00:37] pspeter3 commented on #7
Hmm, that actually might be the best option if it can generate DTS files.

[2017-07-06 01:22] leo-shopify commented on #7
I don't think d.ts files can be extracted from .js files with jsdoc annotations.

[2017-07-06 04:37] pspeter3 commented on #7
Oh too bad.

[2017-07-06 12:09] ngryman commented on #7
@leo-shopify Thanks for the link! I think it is mostly useful if you are mixing TypeScript / JS. In our case, if we want only want type checking, other tools like Flow might a good option as they are dedicated to that particular job. What do you think?

@pspeter3 The more I think about this issue, the more I think you could provide a type declaration file. I know you mentioned you won't be interes

[2017-07-06 13:16] leo-shopify commented on #7
@ngryman, yes, the gradual option is more beneficial in larger untyped code bases.
If the trade offs between the two, from a developer's perspective, mostly come down to preference, I'd choose based on benefits to the users. It seems to me that typescript is evolving faster and is gaining larger adoption. I'd provably choose typescript today. Having said that, picodom is so small that even making

[2017-07-06 17:53] pspeter3 commented on #7
@ngryman I'd be happy to add the DTS file. Would you mind if I also added tests that assert the type definitions are correct?

[2017-07-06 18:56] ngryman commented on #7
@pspeter3 I'm a total newbie to TypeScript so if you think it's worth, let's go.

/cc @jbucaran

[2017-07-06 19:03] pspeter3 commented on #7
Yeah, I think in order of DX it is:

- Correct type definitions
- No type definitions
- Incorrect type definitions

The tests will basically just assert that the type definitions have the right types.

[2017-07-06 19:08] jbucaran commented on #7
@pspeter3 Cool! Let's do this. Hope it won't be as complex a HyperApp's typings. 😱:smirk::+1:

[2017-07-21 15:45] jbucaran commented on #16
@fccoelho7 Added some tests, more on the way. I'll track this in https://github.com/picodom/picodom/issues/3 and when 100% coverage is reached I'll release 0.1.0.

Thanks for your interest! 👋

[2017-07-21 15:45] #16 closed

[2017-07-21 15:47] #4 closed

[2017-07-21 15:47] jbucaran commented on #9
😄👍

[2017-07-21 15:47] #9 closed

[2017-07-21 15:49] jbucaran commented on #7
Closing in favor of #17.

[2017-07-22 21:27] mrjjwright opened #18 "Setting opacity to 0"
I set opacity to 0 as follows:

`h(
          "div",
          {
            class: "",
            style: { width: 15, height: 15, opacity: 0 },
            oninsert: function(el) {
              checkEl = el;
            }
          },
          "✔"
        )`

Picodom is not outputting an opacity css style prop on the element.  If I set it to 0.1 or higher it does.

[2017-07-23 03:48] jbucaran commented on #18
@mrjjwright Interesting! I think this might be a bug. I'll keep you posted on this.

[2017-07-23 04:13] mrjjwright commented on #18
Thanks, also it appears that strings like “0” work, which might be a clue.

[2017-07-24 18:46] tracker1 opened #21 "Redux support"
Would be nice to include components for use with redux.  Though I'm unsure if there's a concept of a context, which would be required as a prerequisite.

[2017-07-24 18:54] jbucaran commented on #21
Hi @tracker1! I think using redux with picodom should be fairly easy. I can't setup an example right at this moment, but I'll get around it in a couple of days as I think that would be useful to share with everyone.

Are you talking about [`<Provider store>`](https://github.com/reactjs/react-redux/blob/master/docs/api.md#provider-store) and "context" as in React's [context](https://facebook.github

[2017-07-24 19:37] tracker1 commented on #21
I was referring to `<Provider store>` pretty much whatever `react-redux` offers.. the provider and connect wrapper...  I can work around it for my own use case, but others may find it more useful.

[2017-07-24 19:39] jbucaran commented on #21
@tracker1 I want to create a demo to shows how to use redux with picodom. What do you think would make a good example? What should I cover and what do you think I can leave out?

[2017-07-24 19:53] tracker1 commented on #21
Probably how to provide the store instance through the various components (assuming components in separate files), and how to handle the store's `subscribe` event for (re)rendering/updates on changes.

[2017-08-08 09:48] yepbug commented on #18
I think [this line](https://github.com/picodom/picodom/blob/master/src/patch.js#L151) is why there is a bug (`value['opacity']` is 0, which is a false value) . And change this line to `element.style[i] = String(value[i]) || "";` can fix this.

[2017-08-08 13:30] jbucaran commented on #18
Thanks @yepbug. Yes, that should do it.

@mrjjwright Just curious. Why were you using a number instead of a string?

[2017-08-14 12:37] #3 closed

[2017-08-14 13:12] jbucaran commented on #16
@fccoelho7 It took me a while, but I added tests and 100% coverage! 👍

[2017-08-14 13:46] jbucaran commented on #5
Going to close here as I have settled on the VDOM events API and like it this way! Thanks @ngryman! 👍

[2017-08-14 13:46] #5 closed

[2017-08-14 13:51] jbucaran commented on #11
@zaceno I haven't investigated how to do slots, but I really don't think I am going to implement this in picodom.

Do you think this kind of problem could be solved with a function that wraps h without messing with core?

[2017-08-14 15:19] jbucaran commented on #21
@tracker1 It took me a while, but [**here**](https://codepen.io/picodom/pen/eEGGQb0 is the Picodom & Redux example as promised.

[2017-08-14 15:19] #21 closed

[2017-08-14 15:21] jbucaran commented on #10
@andyrj Do you want to take this one?

[2017-08-14 16:23] andyrj commented on #10
Sure, I will start a PR with basic flow typing.  I will need help with typescript, haven't dug into it like I have flow.

[2017-08-14 16:33] jbucaran commented on #10
@andyrj Can we do typescript as a different PR? I was hoping you'd only take care of the flow file. Like you are trying to do in hyperapp.

[2017-08-14 16:37] andyrj commented on #10
ya I am still getting my coffee in me, just saw that typescript pr, I was only going to do flow :smile:

[2017-08-14 17:42] andyrj commented on #10
I made a PR for flow library definition, did you want type comments in the code base itself like @sumeetsarkar mentioned above?

[2017-08-14 17:52] andyrj commented on #10
I am going to change my flow PR, to generate the in dex.js.flow in the build from type declarations added to the source so that it is distributed with npm.  https://medium.com/@ryyppy/shipping-flowtype-definitions-in-npm-packages-c987917efb65

[2017-08-14 18:57] zaceno commented on #11
Hm - hadnt thought of the possibility to define your own h that wraps picodoms h, but seems that should work!

Yeah, it seems a bit too much to add anyway, for something that will probably. not be used much.

Just thought it was kind of neat and wanted to toss the idea out there. But we can certainly close this issue.

[2017-08-14 18:57] #11 closed

[2017-08-14 21:37] andyrj commented on #10
My PR has an initial hand written picodom.js.flow, that would need to be copied into dist/ on build, and then I went through all the necessary steps to add flow to the code base itself in later commits of that PR.  I tend to feel like adding flow to the code base is marginal, as it ends up requiring some helper functions to work around flow issues.  (Invariant, and getIndexedElement in my PR)

I t

[2017-08-15 02:22] jbucaran commented on #10
Closing in favor of #24! 😄

[2017-08-15 02:22] #10 closed

[2017-08-25 12:06] acstll commented on #18
Here's some interesting discussion: https://github.com/w3c/webcomponents/issues/519

I think doing `String(value[i]) || ""` might not be the best answer, because other values like `false` or `null` would be stringified as well and you don't want `opacity = "null"`. Maybe something like testing against `value[i]` not being null or undefined?:

[code]
The most important thing would be to settle on t

[2017-08-25 12:19] jbucaran commented on #18
@acstll Why would you use a number instead of a string again?

[2017-08-25 12:24] acstll commented on #18
I can imagine getting the value out of a computation, for example, so you just use that. You do something like `{ opacity: result }`; it's just easier. One can always do `{ opacity: String(result) }` I guess.

I'm in favor of only accepting strings as attribute values, so this here wouldn't be a bug. And I'm just giving my opinion here I'm not even using picodom myself :-)

[2017-08-27 18:58] arturi opened #25 "Style attribute isn’t set in DOM"
Hi! Thank you for the lib!

Ran into an issue with a missing `style` tag:

[code]

console:
<img width="389" alt="screen shot 2017-08-27 at 9 45 02 pm" src="https://user-images.githubusercontent.com/1199054/29752993-06124ba2-8b71-11e7-90af-2405305f5055.png">

DOM:
[code]

Tried in the example pen (thought maybe hyperx is to blame), same thing:

https://codepen.io/anon/pen/jLvjOQ?editors=0110

[2017-08-27 19:02] jbucaran commented on #25
@arturi Yep, looks like we only accept style as an object.

[2017-08-27 19:25] arturi commented on #25
Yeah, so it’s [same deal as with React](https://facebook.github.io/react/docs/dom-elements.html#style). Do you think it would be worth the trouble to support the string?

[2017-08-27 19:32] jbucaran commented on #25
@arturi Hmm, sounds like a good idea to not support this.

But if you must, you can always:

[code]

Also consider [picostyle](https://github.com/picostyle/picostyle). 😄

[2017-08-27 19:36] arturi commented on #25
Thanks! Yeah, I just saw that [Preact supports it](https://github.com/developit/preact/blob/33fc697ac11762a1cb6e71e9847670d047af7ce5/src/dom/index.js#L49-L60) and it got me thinking.

[2017-08-27 19:37] jbucaran commented on #25
@arturi Why are using a style string anyway? Just curious. Very. 😄

[2017-08-27 19:40] arturi commented on #25
Well, I could just as easily use an object, I suppose, it just feels more natural, like it’s regular HTML and it’s the same style as I would set in dev tools: https://github.com/transloadit/uppy/blob/5d36e25772665c34ef3fdc0b408be55fde853d7d/src/plugins/Informer.js#L51-L56 and https://github.com/transloadit/uppy/blob/5d36e25772665c34ef3fdc0b408be55fde853d7d/src/plugins/StatusBar/StatusBar.js#L112.

[2017-08-27 19:45] jbucaran commented on #25
Then you should. 😄

I've actually considered removing inline style support entirely, but that's maybe too much.

---

Closing as wontfix.

[2017-08-27 19:45] #25 closed

[2017-08-27 20:25] arturi commented on #25
Fair enough. Another answer to “why”: all my current templates are using inline-styles, so I wanted to switch from `yo-yo` to `picodom`, and it just worked, apart from this.

[2017-08-27 20:28] jbucaran commented on #25
This sounds good, but

is what convinced me to not bring this into Picodom.

Thanks! 😄

[2017-09-03 20:03] acstll opened #26 "(feature) Something like `context` in React"
Would it be possible to have something like `context` in React?

An object that you could set once on initialisation (in a custom `render` function at the top of your app) and then somehow access it later down in the component tree?

It'd be mostly for convenience, since I'm already passing an object (I think you call it `data`) down, and get my state from it.

I'd like to build something similar

[2017-09-04 03:20] jbucaran commented on #26
Cool idea. Picodom, unlike hyperapp is only the patch and vnode factory, so I believe you should be able to accomplish almost anything you want by building on top of those two functions.

Sounds like you already laid out some of the implementation details. How hard could it be to write this render function? 🤔😄

[2017-09-07 12:58] acstll commented on #26
After thinking about it for a bit, I believe I'm talking about a custom `h` function.

[code]

This `h` function would keep a reference to this "context" object and either merge it everytime into `data`, [here](https://github.com/picodom/picodom/blob/master/src/h.js#L28), or pass it as a third argument to components, [here](https://github.com/picodom/picodom/blob/master/src/h.js#L31).

[As a side

[2017-09-07 13:44] jbucaran commented on #26
Okay, that definitely sounds like a [functor or HOF](https://www.wikiwand.com/en/Higher-order_function). I am not an expert on the terminology, so I had to look that up to make sure, but my understanding is that you would create a function that takes `h` as an argument and returns a new `h'` function that has the built-in technology you need.

[2017-09-07 13:53] acstll commented on #26
Ok, HOF sounds familiar to me because of React ([HOC](https://facebook.github.io/react/docs/higher-order-components.html)), but functor does not, haha (I'm no expert either). I think that's one way to do it. I'm going to try that out and let you know how it goes. (Thanks!)

[2017-09-07 13:54] jbucaran commented on #26
@acstll Thanks for bringing this up! I'll leave this open for a while.

@ngryman @zaceno Do you have any feedback?

[2017-09-07 14:14] zaceno commented on #26
@jbucaran @acstll I think it sounds like a very cool idea, and I look forward to seeing it in practice! 🙏

[2017-09-08 06:46] acstll commented on #26
I did something that could be it. It's not something "on top" of picodom as @jbucaran first suggested, but "in it", here's a PR #27

It's so simple that it's a bit scary, haha. I'd love to know your thoughts.

[2017-09-10 06:12] jbucaran commented on #26
Closing as wontfix. #27

[2017-09-10 06:12] #26 closed

[2017-09-13 15:04] andrewfluck opened #28 "Documentation for routing."
Picodom is a great VDom library, but it still needs routing. I was hoping to remedy this by using a 3rd party router, but I haven't had any luck with this. Can someone demonstrate how to achieve routing in this library?

[2017-09-13 15:16] jbucaran commented on #28
Do you guys have any ideas? @SkaterDad @zaceno

[2017-09-13 15:26] SkaterDad commented on #28
I haven't used `picodom` by itself yet, but I'll do some experimenting.

[2017-09-13 16:12] SkaterDad commented on #28
Here's a Codepen example using `univeral-router`, since it seems very popular on Github & npm.  It's got a weird API, in my opinion, but it works.

This example has 4 routes:  page 1, page 2, page 3 and 404 not found.
Page 3 uses a route parameter.

https://codepen.io/anon/pen/eGmmBp?editors=0010

(Credit:  This demo is heavily inspired/copied from the React demo here:  https://jsfiddle.net/frenzz

[2017-09-13 16:20] andrewfluck commented on #28
Thank you, I will take a look and modify the example according to my needs. I'll try making my own sample using page.js, another popular routing solution.

[2017-09-21 01:31] t-kinoshita opened #29 "Selection doesn't set properly on newly created <select> element"
in `createElement`, `setData` goes first, then run `appendChild`.

This prevents `<select>` from setting `value`, in the time of `setData` there are no child `<option>`s, so no selection was made.

Any problems for reversing the order of `setData` and `appendChild` ?

[2017-09-21 01:33] JorgeBucaran commented on #29
@t-kinoshita Do you have a demo that demonstrates the problem? 🤔

[2017-09-21 02:01] t-kinoshita commented on #29
I created [Codepen](https://codepen.io/anon/pen/EwyNmx?editors=1111) reproducing the issue.

All selects should select 1, but only new select is not the case (top 0 is shown).

[2017-09-21 02:27] JorgeBucaran commented on #29
@t-kinoshita You found a bug! Would you like to send me a PR? 💪

The fix appears to be as simple as reversing the order where setData and appendChild are called just as you said. I can't think of a problem right now and tests pass too. 💯

This also affects [hyperapp](https://github.com/hyperapp/hyperapp).

[2017-09-21 02:37] JorgeBucaran commented on #28
Hi @andrewfluck, any progress with this? 👋

[2017-09-21 03:07] andrewfluck commented on #28
Honestly I'm just using Hyperapp now, I figured since it comes with a bit more I might make a logical decision and switch over

[2017-09-21 03:07] andrewfluck commented on #28
Why reinvent the wheel

[2017-09-21 03:08] JorgeBucaran commented on #28
Sounds good @andrewfluck, I'll close here then.

[2017-09-21 03:08] #28 closed

[2017-09-21 05:42] infinnie commented on #29
In the initialization phase, set the `checked` attribute to the `option`s instead.

[2017-09-21 05:42] JorgeBucaran commented on #29
@infinnie What do you mean? 🤔

[2017-09-21 05:44] infinnie commented on #29
[code]

[2017-09-21 05:45] JorgeBucaran commented on #29
@infinnie You mean this is not a bug?

[2017-09-21 05:46] infinnie commented on #29
@JorgeBucaran I mean there is possibility to work around it.

[2017-09-21 05:46] JorgeBucaran commented on #29
@infinnie Thanks, that clarifies it. :)

[2017-09-22 14:52] acstll commented on #29
@JorgeBucaran wouldn't it be a good idea to try and create a failing test before merging the fix? that would document the change better and avoid regressions in the future?

[2017-09-22 15:16] JorgeBucaran commented on #29
@acstll That sounds smart. I left @t-kinoshita a comment on the PR.

[2017-10-09 00:55] zaceno opened #30 "Change `data` to `props`"
In order for vdom decorators like hyperapp-transitions to remain compatible with both hyperapp and picodom

I plan on making a PR myself if no one beats me to it. Just leaving myself a reminder here :)

[2017-10-10 16:18] zaceno commented on #30
https://github.com/picodom/picodom/pull/31 is there. Closing here

[2017-10-10 16:18] #30 closed

[2017-10-11 20:20] #29 closed

[2017-10-12 17:01] arturi opened #33 "Update Redux example codepen"
Picodom is real nice, thank you for your work!

Due to `1.0.0` API change:

the `createRenderer` method in the [Redux example Codepen](https://codepen.io/picodom/pen/eEGGQb) should be changed, if I’m not mistaken, to:

[code]

[2017-10-12 17:19] JorgeBucaran commented on #33
Fixity fixed. Thanks! 👋

[2017-10-12 17:19] #33 closed

[2017-11-01 09:06] mindplay-dk commented on #7
In my opinion, there's a big advantage to using Typescript, in terms of code comprehension - type-hints really help with the understanding of the internals of the codebase; rather than increasing the learning curve, type-hints provide IDE support, making it easier to navigate and inspect the code.

While I understand that using Typescript might create a barrier for those who don't want to learn it

[2017-11-01 10:55] JorgeBucaran commented on #7
You hit the nail on the head. 💅🔨

That's the whole point of the 1 KB tagline. I am not saying my library downloads faster, and anyone who thought it was about that missed the forest for the trees.

Yes, I know, but my focus has always been Hyperapp. I said no before, but I am not as strongly opinionated about Picodom as I am about Hyperapp, so come to think about it again, I could rewrite Picodom

[2017-11-01 18:57] mindplay-dk commented on #7
I assumed you were very concerned about the package size based on your previous comment

I took this as you being concerned that a valid Typescript version of the source would be slightly larger, because you might not be able to use some of the non-type-safe (non-idiomatic) shorthand expressions, e.g. assignments inside expressions, and `x && y()` rather than `if (x) { y() }`, etc. which some deve

[2017-11-02 06:05] mindplay-dk opened #34 "Add JSX support for Typescript"
With the right declarations in the d.ts file, we should be able to compile directly to h() calls from Typescript, without an additional Babel transform after compiling - as well as getting type-safety and IDE support for JSX expressions in Typescript.

I found clues [here](https://github.com/Microsoft/TypeScript/issues/13402#issuecomment-323623043) and supposedly Snabbdom has this feature.

I will

[2017-11-02 07:48] mindplay-dk opened #35 "Add test for picodom.d.ts (add working type-declarations)"
The d.ts file appears to be full of errors.

The `VNode<Data>` interface doesn't use the `Data` type-argument, and references a type `Props` which doesn't seem to exist.

The rest-param `children` in `Component<Props>` isn't valid - rest arguments must have an array-type. Same for `h<Props>`.

The `patch` function was declared with a default argument value `document.body`, which I don't think you

[2017-11-02 08:55] JorgeBucaran commented on #35
@mindplay-dk It was supposed to be the real deal! 😉

Maybe @pspeter3 @andrewiggins @swizz know.

[2017-11-02 09:10] andrewiggins commented on #35
@mindplay-dk Take a look at my PR #19 on improving the types and adding tests and let me know if i missed anything.

[2017-11-02 09:12] andrewiggins commented on #35
I've been slow on getting that PR completed - sorry for the delay 😞

[2017-11-02 09:13] andrewiggins commented on #34
@mindplay-dk #19 adds JSX support. Let me know if works for you.

[2017-11-02 10:32] mindplay-dk commented on #34
@andrewiggins this looks great! you've done all the hard work :-)

How do I use it? Can you provide the correct `tsconfig.json` settings and a simple example please? (this should probably go in the documentation somewhere, too?)

[2017-11-02 10:44] andrewiggins commented on #34
The tests [h.test.tsx](https://github.com/andrewiggins/picodom/blob/be1279b4568b4869a2b80fc14f8a820e9f6a0222/test/typings/h.test.tsx) and [patch.test.tsx](https://github.com/andrewiggins/picodom/blob/be1279b4568b4869a2b80fc14f8a820e9f6a0222/test/typings/patch.test.tsx) provide an example of how to use the typings and the test [tsconfig.json](https://github.com/andrewiggins/picodom/blob/be1279b4568

[2017-11-02 12:52] mindplay-dk opened #36 "Add element/attribute type-checking to picodom.d.ts"
@andrewiggins I figured I'd create a separate issue for this one, since your work is already enough to get projects up and going without it.

It would be great if we could also get some type-checking for elements and attributes - standard DOM as well as pico's `oncreate` etc., and possibly SVG elements. (does pico support SVG?)

I tried something like `[elemName in keyof ElementTagNameMap]?: any;`

[2017-11-02 16:54] JorgeBucaran commented on #36
Yes, it totally does! 👍

[2017-11-02 22:54] pspeter3 commented on #35
Yeah, this was more of a draft before I got more involved with the Hyperapp project. I will look at PR #19

[2017-11-03 12:54] #34 closed

[2017-11-04 16:42] JorgeBucaran opened #37 "Fix broken sourcemaps."
- https://github.com/hyperapp/hyperapp/pull/443

[2017-11-04 16:43] #37 closed

[2017-11-05 15:00] mindplay-dk opened #38 "what's the cb argument to patch() ?"
The `patch()` function accepts a fourth argument, `cb`, which appears to be unused and gets immediately overwritten in a while-loop inside the function.

This argument also doesn't figure in documentation or in the Typescript declaration file.

What's it for?

[2017-11-05 15:24] JorgeBucaran commented on #38
@mindplay-dk It's not in the declarations file because it's for private use. It's just a local variable.

https://github.com/picodom/picodom/blob/ca5aa34026d5ef366b0a411e550cb976c4589370/src/patch.js#L13-L16

We could `var cb` right above the `while` loop just as well.

[2017-11-05 15:30] #38 closed

[2017-11-06 13:50] mindplay-dk commented on #18
IMO, disallowing `number` doesn't make sense - this is Javascript, and people *will* use numbers regardless of any specification or documentation. What would you do, throw an `Error`? That would likely be surprising to JS developers who naturally expect scripts to handle different types dynamically - it would just be pedantic.

IMO, the challenges here are minimal - handling numbers poses no real

[2017-11-06 13:56] JorgeBucaran commented on #18
Sounds good, but we could argue that picodom shouldn't even bother with inline styles (allow setting style attribute only, which is currently impossible).

Inline styles are slow and this is a good chance to use CSS-in-JS solutions.

[2017-11-06 14:02] mindplay-dk opened #39 "Transactional/scheduled DOM updates"
I completely understand if this is out of scope for this library - I'm mostly asking to make sure it's been considered and deliberately omitted.

If you're familiar with [fastdom](https://github.com/wilsonpage/fastdom), scheduled/transactional DOM updates eliminate DOM thrashing, as do most modern libraries/frameworks. I'm not proposing we use this library, I'm merely wondering if this is common e

[2017-11-06 14:07] JorgeBucaran commented on #39
Sounds interesting, I'll try to look into it when I have time! Thanks for bringing this up.

[2017-11-06 14:48] mindplay-dk opened #40 "Remove container default"
Just an *opinion* based on my personal learning experience with this library.

I'd like to suggest removing the default value for `container` in the `patch` function.

I found it quite surprising that there was any default at all - but since the default is `document.body`, your first experience, if you're following the example, will be that of your own document getting wiped out, which was pretty

[2017-11-06 15:08] JorgeBucaran commented on #40
I prefer libraries that try to do something useful by default, but in this case I see where you are coming from. 👍

Feel free to send me a PR with the necessary changes, including test, types and doc updates please. 🙏

[2017-11-06 16:03] mindplay-dk commented on #40
Cool, I will try to find time for that :-)

Since this is a breaking change, how would you feel about swapping the argument order, placing the element argument first? So it reads `patch(element, ...)` - since literally what you're patching is the DOM element and not the VNodes.

[2017-11-06 19:41] mindplay-dk commented on #40
Alright, removed the default argument for starters.

I noticed a couple of minor things along the way:

1. The argument names in `patch` and `patchElement` are inconsistent - it's `target` in one and `container` in the other. The most descriptive would probably be `parent`? It's of course also a container, but it's perhaps more accurately the *parent* container. Or is there a reason you named them

[2017-11-07 01:58] JorgeBucaran commented on #40
@mindplay-dk Good questions.

1. There is a reason, and as you may guess it has to do with byte saving. I wouldn't mind changing the order if that would make picodom easier to use! 👍

2. Let's change the docs then. The current state of the docs is embarrassing, and that's my fault.

[2017-11-07 06:00] mindplay-dk commented on #40
Let's leave the PR open then, I'll do both of these before the merge, yeah?

[2017-11-07 06:06] JorgeBucaran commented on #40
You've encouraged me to improve picodom in ways that will make it depart a bit from hyperapp's internal VDOM, and that's fine! There a few other internal (possibly non-breaking) changes that I have in mind, that will make the code more —1— readable and —2— more "functional" (e.g., how we deal with lifecycle callback flushing).

Picodom's goal to remain simple and stay within the vicinity of 1 KB h

[2017-11-07 06:33] mindplay-dk commented on #40
I think that's why this project is different - I can see it being directly useful without ever needing a bunch more features. Honestly this may be the first front end project I've ever been truly enthusiastic about ;-)

[2017-11-07 07:57] mindplay-dk commented on #40
Just a thought, but you might want to merge this to a `2.0.0` branch initially, in case you think of any other breaking changes you'd like to get in before the next release. (any idea what makes the `@next` constraint work for some packages in npm? so we could start testing and upgrading to the next version more easily.)

[2017-11-07 08:36] JorgeBucaran commented on #40
@mindplay-dk I think I can just publish any tag, it doesn't have to `next`, so that anyone can start playing with the new stuff.

[code]

I need to double check, but something like the above should probably work.

[2017-11-07 08:43] JorgeBucaran commented on #40
We can make patch and patchElement signatures consistent too with:

[code]

So, why put the parent first again?

I think `container` tells me more as a Picodom user, whereas `parent` tells me more when reading the source code. It used to be called `parent`, actually, but got renamed it to `container` to be in sync with the same term used in Hyperapp.

Now, from a "sales" standpoint, I think `conta

[2017-11-07 10:35] mindplay-dk commented on #40
Because the parent element is the one that actually gets patched - you're not patching the old or new VNodes, they only provide the context for patching the actual element.

It's a matter of preference, I guess, but I like following this formula:

    function verb(subject, object...)

So I'd prefer updating the argument order of `patchElement()` also, for the same reason - I find `patchElement(wh

[2017-11-07 10:38] JorgeBucaran commented on #40
Sure that more than one opinion on what the best formula is, there can be, I am.

[2017-11-07 10:41] mindplay-dk commented on #36
For further reference, here's the type-definitions for [React](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts) and [Inferno](https://gist.github.com/rendall/cdd23c962c88fac3dbd9322cc2b09d58), both of which are very similar (on the important points, the element/attributes-types and CSS properties) to the ones in [Snabbdom](https://github.com/alvivi/snabbdom-ts

[2017-11-07 11:28] mindplay-dk commented on #40
Should I update `patchElement()` to match `patch()` then before we merge, or?

[2017-11-07 11:36] #40 closed

[2017-11-07 11:37] JorgeBucaran commented on #40
No, I like your changes and just merged them. #41

[2017-11-07 11:40] mindplay-dk commented on #18
IMO, support for inline styles is pretty universal across JSX implementations - it would suck not to have this, and (regardless of micro performance concerns) it already provides a basic CSS-in-JS solution, since you can simply create objects/modules with reusable CSS properties.

If someone has extreme performance requirements, they can either use regular CSS or a CSS-in-JS solution, there are pl

[2017-11-08 06:18] #35 closed

[2017-11-08 13:20] acstll commented on #18
I'm gonna PR this so we can discuss over a possible solution and not about things sucking or not. ✌️

[2017-11-08 14:31] mindplay-dk opened #42 "Add @next tag"
Could we have a [dist-tag](https://docs.npmjs.com/cli/dist-tag) for `picodom@next` please?

So we can more easily help beta-test the next major version, updating examples, etc. before release.

[2017-11-08 15:37] JorgeBucaran commented on #42
@mindplay-dk Can you describe the process to make this possible?

[2017-11-08 17:02] mindplay-dk commented on #42
The link seems to explain it? I don't know npm very well tbh.

[2017-11-08 17:03] mindplay-dk commented on #18
Good call 😊

[2017-11-08 20:40] styfle opened #43 "Related project: dot-dom"
I just found picodom and I'm curious how it compares to [wavesoft/dot-dom]( https://github.com/wavesoft/dot-dom).

Are the project goals the same?
And could these projects share ideas?

[2017-11-08 21:51] mindplay-dk commented on #43
A couple of differences I could spot:

1. This library synchronizes VNode state directly to DOM, whereas pico diffs two VNodes and applies the changes - this approach (for one) allows third-party JS scripts to participate in maintaining portions of the DOM without conflict.

2. Pico offers lifecycle events - this doesn't seem to (?)

3. Pico works on more current browsers.

4. This library is aggr

[2017-11-08 21:59] mindplay-dk commented on #43
Oh, and it doesn't appear to support keyed updates either - these can be really important for things like tabular forms.

[2017-11-08 23:09] acstll opened #44 "Cannot run tests"
I'm getting a `SyntaxError: Unexpected token import` error for all 4 suites.

This seems to be Jest not finding some `babel` configuration, [see here](https://stackoverflow.com/questions/41725796/jest-test-suite-failed-to-run-syntaxerror-unexpected-token-import).

I see there's no .babelrc file, just this: https://github.com/picodom/picodom/blob/master/package.json#L30

Any ideas?

(I just do `npm

[2017-11-09 01:28] styfle commented on #43
Thanks!

[2017-11-09 02:42] JorgeBucaran commented on #43
Hi @styfle. I knew about dot-dom from before. The reason dot-dom manages to be even smaller than picodom is because they are using advanced features like Symbols, Proxies, do not support JSX and more importantly, lack keyed updates. Keyed updates is what makes the bulk of the VDOM.

Having said that, they did a great job!

[2017-11-09 02:42] #43 closed

[2017-11-09 02:43] JorgeBucaran commented on #44
@acstll Did you run `npm i` on the root directory?

[2017-11-09 03:17] JorgeBucaran commented on #42
I put about an hour, but couldn't make this work. Maybe my understanding of what should happen is not what the dist-tag feature is about.

I tried adding a `next` tag this way:

[code]

I know I still haven't published 1.0.3, so I wonder if that's the reason it fails. But if I add a version that's already published, then what's the point of this feature? Is it just an alias?

I don't think it's ju

[2017-11-09 03:44] JorgeBucaran commented on #42
@mindplay-dk Okay, it worked, finally. **No need** to use dist-tag, unless I

[2017-11-09 03:44] #42 closed

[2017-11-09 03:45] JorgeBucaran commented on #42
@mindplay-dk I finally figured it out. I didn't need to use dist-tag. What one needs to do is is:

- Bump the package version. I bumped it to 2.0.0.
- git add and commit your stuff.
- npm publish **--tag next**

This will publish a new version of your package that can only be installed with `npm i picodom@next`.

That's all. The dist-tag command is there to help you manage your published tags, lis

[2017-11-09 05:29] mindplay-dk commented on #42
Oh, cool! Thanks for explaining it :-)

[2017-11-09 06:15] mindplay-dk opened #45 "Avoiding the extra wrapper tag?"
I wonder if there's any way to avoid an extra wrapper tag?

What I mean is, let's say I have a page with a div with id=app on the page - I use this as the root, but my JSX is going to start with a root wrapper of its own, so now I'm two levels deep already.

Could this be addressed somehow? Not easily, I guess - since diff is done on VNodes, we can't directly diff against an existing root element.

[2017-11-09 09:07] JorgeBucaran commented on #45
@mindplay-dk Can you show the code with the current result body and the result you want?

[2017-11-09 13:04] mindplay-dk commented on #45
Uhm, well, let's say I have a static page with some kind of layout.

[code]

And then something like:

[code]

Now I end up with:

[code]

So now, the top-level node of the actual view is `div.woot`, but it's wrapped in `div#fancy_app` - one of those two would have likely been enough, but... I guess JSX syntax forces you to always return a single parent node, and you have to have another reserved

[2017-11-09 15:00] acstll commented on #44
yep.

Do you have any global babel configuration? I don't know if such thing exists…

[2017-11-09 15:03] JorgeBucaran commented on #44
No, there is no global babel configuration. Maybe it's your node version?

[2017-11-09 15:19] acstll commented on #44
Ok, got it working with node 6, maybe this is an issue with Jest?

[2017-11-09 15:19] JorgeBucaran commented on #44
@acstll What node version were you using?

[2017-11-09 15:21] acstll commented on #44
8.9.0

(latest LTS is 8.9.1)

[2017-11-09 15:22] JorgeBucaran commented on #44
@acstll And tests failed on 8.9.0? That's my version too. 😕

[2017-11-09 15:23] JorgeBucaran commented on #44
<img width="1280" alt="screen shot 2017-11-10 at 0 23 01" src="https://user-images.githubusercontent.com/56996/32613120-565dc53e-c5ad-11e7-958f-1635f8633a90.png">

[2017-11-09 15:26] acstll commented on #44
Interesting. I will try and reinstall 8.9.x to see if that fixes it (I'm also using `npm` not `yarn`). Thanks for your help :)

[2017-11-09 15:26] #44 closed

[2017-11-09 15:34] JorgeBucaran commented on #44
FYI `npm run test` was OK too.

[2017-11-09 20:09] acstll commented on #42
@JorgeBucaran I'm not completely sure, but I think the way to do this is by having a `2.0` branch (or `next` branch) where you work on this next version and then publish using `--tag next`, as you did.

I think now you can't continue to work on 1.x on master and publish further updates… :(

[2017-11-10 03:17] JorgeBucaran commented on #42
@acstll You are right Arturo. 😆

Thank for helping me understand the final piece of the puzzle, we'll do it right from now on (after 2.0.0).

[2017-11-10 07:15] mindplay-dk commented on #45
Good point about the document body, yeah, that wouldn't even make any sense.

In my mind, I'm trying to turn this into a good thing - the fact that every view or component has precisely one root node actually makes the whole app (and framework) much simpler and easier to reason about. Maybe "fixing" this isn't even a good idea?

[2017-11-10 07:46] JorgeBucaran commented on #45
@mindplay-dk This is one of the reasons the container was optional. So, that default behavior would be append to document.body without wrapper elements.

[2017-11-10 09:16] acstll commented on #42
@JorgeBucaran no problem. Open source FTW 😊

[2017-11-10 10:02] mindplay-dk opened #47 "Typescript: add default type-argument to VNode"
Having to explicitly type-hint node arguments as `Node<{}>` gets tedious doesn't read well.

Can we make it the default?

[code]

This way you can type-hint as just `Node`.

We can then clean up all the other `VNode<{}>` type-hints in the declarations file as well.

[2017-11-10 12:25] mindplay-dk opened #48 "Broken source-maps in `@next`?"
Looks like the source-map has gone bonkers in the 2.0 beta?

![source-maps](https://user-images.githubusercontent.com/103348/32658410-2ad5ed2a-c61a-11e7-9a72-00363277edf6.gif)

It thinks `node` is undefined, and somehow `node.type` is a `VNode`, *in the same expression??*

And this is a trivial example like `patch(root, null, <div>LALALA</div>)`, which doesn't work anymore...

[code]

I mean, all

[2017-11-10 12:41] JorgeBucaran commented on #48
@mindplay-dk What do you call broken exactly? I can see the source of patchElement, that's all it is AFAIK.

https://github.com/picodom/picodom/blob/ef045b03e7bb43174afbe66a7a34358cef027d27/package.json#L22-L24

[2017-11-10 12:48] JorgeBucaran commented on #47
@mindplay-dk I am not sure what you mean. Is this about making `h(type, children)` possible?

[2017-11-10 12:52] mindplay-dk commented on #47
No, it's just about setting a default `{}` type argument for `VNode`, so that you don't have to specify it explicitly every time you're trying to type-hint something - with `Props = {}` the type-argument defaults to `{}`, so that type-hinting as `VNode` without type-arguments means the same as `VNode<{}>` does now.

[2017-11-10 13:02] JorgeBucaran commented on #47
Well, sure there. This is non-breaking yeah?

[2017-11-10 14:32] mindplay-dk commented on #47
Yep :-)

[2017-11-10 18:18] mindplay-dk commented on #48
Look at the screen recording? If that's not the source map, Chrome must be severely broken??

[2017-11-10 18:45] JorgeBucaran commented on #48
@mindplay-dk I think sourcemaps are working fine, or at least there's nothing we can do about it.

<img width="1218" alt="screen shot 2017-11-11 at 3 44 27" src="https://user-images.githubusercontent.com/56996/32673474-b6ba4c8c-c692-11e7-844c-24deba060a83.png">

[2017-11-10 18:46] JorgeBucaran commented on #48
I am going to close here since I feel there's nothing I can do, but if you have any ideas, please do let me know.

[2017-11-10 18:46] #48 closed

[2017-11-10 19:38] mindplay-dk commented on #48
Weird. Maybe this is a Chrome bug after all, I have seen something similar happening on another project lately, but always assumed it was due to mismatched source maps...

[2017-11-12 11:41] maxholman opened #49 "setElementProp removes falsy attribute values"
In a recent `hyperapp` issue [Updating children props dynamically ignores "0" #419](https://github.com/hyperapp/hyperapp/issues/419) `setElementProp` behaviour was improved when dealing with falsy values.

Will `picodom` be getting the same logic update?

My specific use case is attempting `<option value="">Not applicable</a>` but `picodom` removes my value attribute and the browser subsequently c

[2017-11-12 12:34] JorgeBucaran commented on #49
@maxholman Yes, it totally should. The same part of the code could be easily ported over. If anyone wants to me beat me to it, feel free to send me a PR, otherwise I may be able to work on this over the next week.

Thanks! 💯

[2017-11-12 12:47] maxholman commented on #49
I'll put a PR together :+1:

[2017-11-16 12:04] genofire opened #51 "use patch nested"
Hi,
i would like to use the command `patch` nested, so patch did not render the complete website dom.

Example:
[code]
Is this on any way possible?

[2017-11-16 12:10] JorgeBucaran commented on #51
Hi @genofire! I am afraid I don't really understand what you are trying to do, so I can't help you.

Can you create a example with a demo, CodePen/JSFiddle, etc?

[2017-11-16 12:13] JorgeBucaran commented on #51
@genofire Maybe you didn't find out about the API change?

[code]

So, try:

[code]

[2017-11-16 12:18] genofire commented on #51
(that has already cost me a hour - no)

i would like a VNode as parent or use a HTMLElement as h children (in a VNode).

[2017-11-16 12:22] JorgeBucaran commented on #51
That's not possible, the `parent` must be of type `HTMLElement` and `oldNode`, `newNode` must be of type [VNode](https://github.com/picodom/picodom/blob/ef045b03e7bb43174afbe66a7a34358cef027d27/picodom.d.ts#L3) both.

[2017-11-16 12:26] mindplay-dk opened #52 "Add performance suite"
I'd like to propose the additon of a basic performance suite.

While micro-performance is not my primary concern, having the ability to benchmark branches against each other could be useful when making changes or optimizations, to ensure performance doesn't degrade going forward.

I'd also be curious to include a competitive benchmark against at least one of the competing frameworks - likely the b

[2017-11-16 12:31] mindplay-dk commented on #51
@genofire the reason `oldNode` and `newNode` must both be `VNode`, is because (1) we can more accurately patch the DOM according to *your* view's new/old state, which means you can safely use third-party JS that appends/modifies nodes, e.g. hooked in via `oncreate`/`ondestroy`, and (2) patching against actual DOM nodes adds a substantial layer of complexity, because working with the DOM API is so

[2017-11-16 12:42] JorgeBucaran commented on #52
hyperHTML/lit-html are faster. A "more scientific" patch algo could bring us very close though.

[2017-11-16 12:43] JorgeBucaran commented on #51
Closing as there's nothing actionable here.

[2017-11-16 12:43] #51 closed

[2017-11-16 13:21] genofire opened #53 "Update Readme 'Try online'"
the codepen is not update (v1.0.2 i think)

[2017-11-16 13:25] JorgeBucaran commented on #53
@genofire Yes, you are right! 2.0 is still not published yet, though and that's what the docs unfortunately reflect at this moment. I'll try to finish all these little chores this week! 👋😄

[2017-11-16 13:45] mindplay-dk commented on #52
Is that an assumption or did you benchmark something?

If pico has never been benchmarked against anything else, that's an assumption - I'd like to *know* ;-)

[2017-11-16 13:50] JorgeBucaran commented on #52
@mindplay-dk It is an assumption, but it's a reasonable one. There's not diffing in hyperHTML or lit-html AFAIK, where as VDOM is all about diffing.

I haven't benchmarked picodom, but I did benchmark hyperapp using https://github.com/krausest/js-framework-benchmark/. Results should be roughly the same.

Results are average.

[2017-11-16 20:50] mindplay-dk commented on #52
I just found this benchmark myself not 20 minutes ago 😆

He also posted an interactive page of results here:

http://www.stefankrause.net/js-frameworks-benchmark6/webdriver-ts-results/table.html

And man, we are *more* than "good" - picodom is top of the line! It's nearly on par with the very fastest libs, to the point that the difference is too marginal to care about. And it scores consistently l

[2017-11-16 21:27] maxidr commented on #52
I think that's benchmark was made using [pico-dom](https://github.com/hville/pico-dom) and not **picodom** 🤔

[2017-11-16 21:32] leeoniya commented on #52
not like anyone said anything 5 month ago ;)

https://www.reddit.com/r/javascript/comments/6dzd4u/build_your_own_next_generation_view_framework_1kb/di738jd/

latest results are here, btw: https://rawgit.com/krausest/js-framework-benchmark/master/webdriver-ts-results/table.html

[2017-11-20 12:24] mindplay-dk commented on #52
@maxidr whoops, looks like you're right.

Okay, so there's no benchmark yet.

Probably the best approach would be to fork `js-framework-benchmark` and PR then?

[2017-11-20 12:37] JorgeBucaran commented on #52
@mindplay-dk As you wish, but results will be the same as Hyperapp's.

[2017-11-20 13:50] mindplay-dk commented on #52
@JorgeBucaran understood, though there's no saying that'll always remain the case.

Perhaps more important is to have a simple internal benchmark, to benchmark performance impact of a change.

[2017-11-20 13:53] JorgeBucaran commented on #52
True. As both projects start to evolve away from each other, that may just be the case. Although, I hope any diff improvements to the algo also make it to Hyperapp and viceversa.

This could be a good start. https://github.com/hyperapp/hyperapp/pull/186

/cc @ngryman

[2017-11-20 14:12] leeoniya commented on #52
in light of this [1], i suggest that you guys finally submit a keyed impl soon :)

[1] https://github.com/krausest/js-framework-benchmark/issues/304

[2017-11-20 14:15] JorgeBucaran commented on #52
@leeoniya Oh, I was just thinking about this the other day. It would be great if js-framework-benchmark **only** dealt with keyed implementations.

[2017-11-20 14:28] leeoniya commented on #52
i dont think he's going to throw the non-keyed ones away, but probably recommend against them in the next blog post that's coming up soon (Round 7). it'd be a shame if picodom-keyed or Hyperapp-keyed was on that absentee list.

[2017-11-20 14:32] JorgeBucaran commented on #52
@leeoniya It's just a matter of adding `key={item.id}` to the row in the row view file. I've done it locally, but I always have to modify js-framework-benchmark source code beyond recognition so that I can get it to start. I'll get around to it eventually, not a life or death situation.

[2017-11-20 14:40] leeoniya commented on #52
😕

this is all i do to get it working: https://github.com/sveltejs/svelte/issues/48#issuecomment-302111192

since then, also run npm install && npm run build-prod in `webdriver-ts-results`. also do `npm install http-server` in the repo root first.

[2017-11-20 14:53] JorgeBucaran commented on #52
@leeoniya Sorry, I was not trying to criticize the project. I think we've been there at various points before hehe. My setup is more complicated and it basically takes over my machine which I also use for developing my projects as well as work.

[2017-11-20 15:16] leeoniya commented on #52
i think you mistook a confused emoji for an angry emoji :)

i dont take anything about that bench personally; i'm just a contributor like everyone else. my goal is to get everyone in there and make sure everyone plays fair.

[2017-11-20 15:18] JorgeBucaran commented on #52
I think setting up that benchmark is not a piece of cake, but it's a superb effort by @krausest and contributors to have come up with a single solution that, despite some difficulties, can benchmark, more or less reliably, **all** the frameworks, including quirks and whatnot. 👏

[2017-11-20 18:55] krausest commented on #52
@JorgeBucaran I like hyperapp and I like keyed frameworks and this is the [result].(https://github.com/krausest/js-framework-benchmark/commit/9c00c817a7ad5b5992f8b2fa9b82f63cac051c3d)
(Sorry for spamming picodom)

[2017-11-21 06:42] #49 closed

[2017-11-21 08:16] mindplay-dk opened #54 "questions about setElementProp()"
I've been studying the source code closely, and have a few questions regarding `setElementProp()`:

1. How or why is it useful/relevant to set a single prop? Aren't props always a set? If so, shouldn't this be `setElementProps()` (plural) to avoid the loop and function-call overhead at every call site?

2. Regarding setting of properties (not attributes), this line:
[code]

    Why the null (ish)

[2017-11-21 08:24] JorgeBucaran commented on #54
1. Sure!
2. To avoid converting `null` or `undefined` to a string and the try/catch is to avoid edge cases like read only props.
3. I am open to simplifying that piece of logic, even if it costs a few more bytes, but not a lot.

[2017-11-21 08:26] JorgeBucaran commented on #54
I remember thinking the same, but it turned out that using try/catch yielded better/faster performance when using js-framework-benchmarks.

[2017-11-21 09:57] mindplay-dk commented on #54
That matters for attributes - but these are properties?

Figured as much, though, frankly, if I make the mistake of trying to set a read-only prop, isn't it simpler and more helpful to get an error and stack-trace, so I can know I've done something wrong?

I'm not a big fan of silencing errors when the developer is doing something wrong.

Are there any other edge-cases for this to handle?

[2017-11-21 09:59] JorgeBucaran commented on #54
@mindplay-dk That was one example, there were more errors, but unfortunately I didn't keep a list of what they were. FWIW, Preact uses a similar strategy.

How do you know which one is a property and which one is an attribute without including a big whitelist?

[2017-11-21 10:01] JorgeBucaran commented on #54
@mindplay-dk I remember one particular error caused by a Chrome bug in how it handles some props of the [Selection](https://developer.mozilla.org/en-US/docs/Web/API/Selection) API.

[2017-11-21 12:11] mindplay-dk commented on #54
`name in element` will tell you if it's a property - this being JSX, we're binding JS values, so it makes sense for properties to take precedence over attributes.

For example, the `onclick` attribute contains JS source-code, which is totally uninteresting - we have literal functions in a JSX context, so we'd want the `onclick` property.

Am I missing something? :-)

[2017-11-21 15:04] JorgeBucaran commented on #54
@mindplay-dk `on` handlers are already handled.

I think if we could have some code, in the form of a PR, it would be easier to discuss what we want to add to or remove from core. 👍

[2017-11-21 16:09] mindplay-dk commented on #54
Okay, well, I attempted the change to `setElementProp`:

[code]

But it doesn't play nice with things like `value` which exist both as properties and attributes:

[code]

That is, it fails the test - I'm fairly certain it would work on a real browser?

But it seems this causes problems with things like `id` as well, which behaves differently - apparently you can *set* it with `el.id = "foo"`, but

[2017-11-21 16:12] JorgeBucaran commented on #54
What are some examples of properties we are also setting as attributes, but we shouldn't?

[2017-11-22 08:00] mindplay-dk opened #56 "Indistinguishable properties and attributes"
Currently, the `patch()` function treats every JSX attribute simultaneously as a property *and* an attribute - it initializes both, which means you have no ability to update them individually.

Blindly treating every JSX attribute as both a property and an attribute means that most updates are unnecessarily being done twice - one of them generating either a meaningless property or a meaningless DO

[2017-11-22 08:16] mindplay-dk commented on #54
I've opened a new issue for that discussion - I'm closing this one as there's nothing actionable here.

[2017-11-22 08:16] #54 closed

[2017-11-22 08:29] JorgeBucaran commented on #56
@mindplay-dk I don't use `innerHTML` and I can't recommend using it. But if I really had to, I would not do it declaratively, using `h` or JSX, but inside a lifecycle event.

What about Preact/React, I don't recall they having any special syntax for distinguishing attributes and props and I think that's great, because it makes it easier to reason about my user interface. I don't want to think abou

[2017-11-22 15:44] mindplay-dk commented on #56
Yes, but I think this is one of the reasons why these frameworks are considerably larger and more complex - they make distinctions between different element-types and their attributes.

For example, React use code like this to detect specific element types:

https://github.com/facebook/react/blob/45c1ff348e1c7d03567f5bba6cb32cffa9222972/packages/shared/isTextInputElement.js

They have to make dist

[2017-11-22 15:47] JorgeBucaran commented on #56
@mindplay-dk I don't think Preact can afford that.

[2017-11-22 15:50] JorgeBucaran commented on #56
@mindplay-dk You already gave one good example, `innerHTML`. I already expressed my opinion on that property and here is something I wrote about [sanitation](https://github.com/hyperapp/hyperapp/blob/master/docs/sanitation.md).

What are other props/attributes examples that you think should be treated differently?

[2017-11-22 16:19] mindplay-dk commented on #56
There are interesting edge-cases - for example, if you do `readOnly={true}`, that's the property, whereas `readonly={true}` is the attribute, which needs a string cast. They're not even the same type.

Custom properties don't map to attributes:

    document.querySelector("input").foo = "bar"

    document.querySelector("input").setAttribute("foo", "qux")
    document.querySelector("input").foo

B

[2017-11-22 16:20] mindplay-dk commented on #56
Sure - it can do everything at compile-time.

[2017-11-22 16:33] mindplay-dk commented on #56
Here's the relevant portion of the [Preact sources](https://github.com/developit/preact/blob/33fc697ac11762a1cb6e71e9847670d047af7ce5/src/dom/index.js#L76) for reference:

[code]

It's doing *something* like what I suggested - it's checking for `name in node` (with some more criteria) and doesn't update the attribute if it finds that this is a property. But to deal with `id` and other edge-cases (

[2017-11-22 17:20] mindplay-dk commented on #56
I'm close to a solution, but the test-framework seems to contain an inconsistency with real browsers.

In a real brower, setting the `element.value` property also updates the attribute.

In seems, in the test framework, that's not the case.

In fact, there's a passing test in the current test-suite, which I think *should* actually fail:

[code]

Here, the test says that the initialization via prop

[2017-11-23 03:13] JorgeBucaran commented on #56
@mindplay-dk Please don't worry so much about tests for now. If you have a working PR addressing the issues you were having, I'd like to see it first. That way I can understand what this issue is really about, because I have to confess I am still confused. Or perhaps I am just not that interested in 100% accuracy as long as it works. Show me the code! 💸 😄

[2017-11-23 07:26] mindplay-dk commented on #56
It's [on this branch](https://github.com/mindplay-dk/picodom/tree/property-precedence) :-)

[2017-11-23 09:56] JorgeBucaran commented on #56
@mindplay-dk Do you think it would be possible to refactor this part:

[code]

[2017-11-23 12:41] mindplay-dk commented on #56
[Yes](https://github.com/mindplay-dk/picodom/commit/adeec36ca6a5f69d9427cc05efe2e29eea505075), though this requires the introduction of a var `empty` for the test result.

[2017-11-24 10:18] mindplay-dk opened #58 "Event handlers have no context?"
Looks like event-handlers have no `this` context?

For example:

[code]

It looks like `this` is the number `0`?

I was expected maybe `this` would reference the event target - the `button` element?

(If we address this, it likely needs to be addressed separately for the life-cycle events.)

[2017-11-24 10:22] JorgeBucaran commented on #58
@mindplay-dk The event target is `e`:

[code]

Is that not enough?

[2017-11-24 11:54] mindplay-dk commented on #58
My point is it's *surprising*, because it's inconsistent with how DOM works, where, normally something like `onclick="console.log(this)"` executes with the element as context.

This would work with practically any other framework or library, right? I think it's natural to expect a meaningful calling context, consistent with normal DOM use.

[2017-11-24 12:32] JorgeBucaran commented on #58
@mindplay-dk You got me there! I was not aware that `this` inside event handlers is bound to the event handler. Seriously? 😮

[2017-11-24 12:37] JorgeBucaran opened #60 "RFC: Should we drop built-in core JSX support?"
Should we drop built-in JSX support? Yes or No?

This involves modifying (simplifying really) how hyperapp.h works, by making it monomorphic (single signature) instead of the current implementation that supports multiple varargs (arguments are slow!).

### Pros

- Better performance.
- More liberty in how components are used / instantiated.

### Cons

- No JSX. Or at least not until babel/babel#20

[2017-11-24 14:52] JorgeBucaran commented on #60
https://github.com/hyperapp/hyperapp/issues/462

[2017-11-25 08:12] zaceno commented on #60
Because picodom has a more general purpose than hyperapp, I think we should keep JSX support for now, regardless of what hyperapp does.

[2017-11-25 12:08] mindplay-dk commented on #58
No, it's not bound to the event handler? Not if by that you mean the function that handles the event?

It's bound to the element for which the event occurred - so with plain DOM you could do:

    <div onclick="this.classList.toggle('is-active')">

Which is pretty common.

It would be natural to expect the equivalent to work with JSX:

    <div onclick={ () => this.classList.toggle('is-active') }>

[2017-11-25 12:17] mindplay-dk commented on #60
The patch function  isn't much use without virtual DOM nodes.

On the other hand, I already have my own `h` function adding some more functionality, and already considered copying the body of pico's `h` function into it, to avoid doubling the number of function-calls, which doubles the number of stack-frames, affecting memory usage, etc.

I'm honestly not sure.

[2017-11-25 12:34] mindplay-dk opened #61 "Missing `ondestroy` event for deep removals"
It appears the `onremove` event isn't triggered for children, when the parent is removed - I believe the following test demonstrates the problem:

https://github.com/mindplay-dk/picodom/commit/f108584890bdc936b44e8db5c071384bae3f3476

Looks like a bug? I'm unsure how to address it.

[2017-11-25 12:58] mindplay-dk commented on #56
What do you think about the failing tests?

Do you agree that this might be a bug in the test-framework? From what I could find, this is not how a real browser behaves - but I honestly have very little experience with testing in JS, and I'm not even sure which package or component is at fault.

[2017-11-25 13:23] mindplay-dk commented on #45
I think there's nothing actionable here, so I'm closing this issue.

[2017-11-25 13:23] #45 closed

[2017-11-25 13:24] mindplay-dk commented on #18
The PR was merged, so we can close this?

[2017-11-25 13:30] mindplay-dk commented on #39
Here's the solution I'm currently using.

[code]

It's pretty simple, just tracks whether an update has already been scheduled, and defers it - this lets me make numerous calls to actions that call an `update()` function without clobbering the DOM.

In it's current form, this likely belongs in a framework and not in picodom itself.

[2017-11-25 17:21] JorgeBucaran commented on #58
@mindplay-dk Hmm, okay then I probably thought something else. I haven't seen this in years. Do you happen to know what React or Preact do here?

[2017-11-25 17:23] JorgeBucaran commented on #60
@mindplay-dk If you have an alternative to `h()` that performs better or has any improvements I'd honestly love to see it We've gone through so many iterations with that function, that I don't really know what else we could do to make it better.

[2017-11-25 17:32] JorgeBucaran commented on #61
@zaceno What do you think?

[2017-11-25 17:33] JorgeBucaran commented on #56
@mindplay-dk Sorry, I was not aware of any failing tests. If you can send me a PR with these changes so we can review it.

[2017-11-25 17:38] JorgeBucaran commented on #39
Yes, this looks very much like framework material to me. Also, there was a clear misunderstanding (from my part) as I thought you meant something completely different with this issue.

The solution you posted above is similar to what we were doing in Hyperapp, but this has now changed to using setTimeout, because rAF causes issues (by design) with inactive tabs / calls are throttled it seems.

[2017-11-25 17:38] #18 closed

[2017-11-25 17:45] zaceno commented on #61
@JorgeBucaran

🤔 Hmm.. good question. I agree one would expect a lifecycle method called `onremove` to be called, even if the reason the element got removed was because a *parent* got removed.

I presume just changing the name to `onremoveButOnlyWhenItsTheTopmostRemovedElement` is out of the question? ;)

I don't know exactly how much performance and bundle size would suffer if we implemented supp

[2017-11-25 17:46] JorgeBucaran commented on #61
@zaceno Can you clarify what you mean by oddball? I am just curious, I hope you don't mean onremove is buggy or wrongly implemented.

[2017-11-25 17:51] zaceno commented on #60
@mindplay-dk The question is about removing JSX support is not about removing the h-function entirely. Its only this:

Today, both of these work:

A: `h(props, [vnode1, vnode2, vnode3...])`
B: `h(props, vnode1, vnode2, vnode3....)`

JSX relies on (B), and "dropping JSX support" would mean only (A) would work in the future.

[2017-11-25 18:16] zaceno commented on #61
@JorgeBucaran sure, no I don't mean it's wierd or buggy. I just mean I think it's somewhat uncommon to use it in the first place, that's all. The only use case I can think of, off hand is transitions. And in that case, if the parent goes away, it's not a problem that onremove is never called for the child.

I guess it's probably also useful for removing event listeners if some where bound in `oncr

[2017-11-26 05:50] #47 closed

[2017-11-26 13:25] mindplay-dk commented on #58
In React, you have the `render` method in a `Component` implementation, so event handlers are bound to the `Component` instance. I'm not sure what the context is for stateless components rendering elements into the DOM directly - it can't be a component instance, since there isn't one, but.... (?)

[2017-11-26 13:29] JorgeBucaran commented on #58
@mindplay-dk Okay. I think we should not bind `this` to the event instance. In fact, I personally want to discourage use of `this`.

[2017-11-26 13:29] mindplay-dk commented on #56
There are two failing tests, as [explained above](https://github.com/picodom/picodom/issues/56#issuecomment-346418060) - the first *seems* like it should have failed all along (before I changed anything) but may be passing due to a bug in the test-framework. I'm really not confident enough to say that with certainty.

And as explained, because of the same bug, I *can't* make the other test pass -

[2017-11-26 13:33] JorgeBucaran commented on #56
@mindplay-dk I have a question: are you treating values as properties only if the key is `name`, or am I reading the code wrong?

[2017-11-26 13:33] mindplay-dk commented on #39
Maybe this doesn't belong in this library at all? Should we just close the issue?

[2017-11-26 13:36] JorgeBucaran commented on #39
@mindplay-dk Yep, definitely not something we should force into users by default. But we could have a `picothrottle` (or else if you have a better name) library. Just thinking out loud. 🤔😉

[2017-11-26 13:36] #39 closed

[2017-11-26 13:36] mindplay-dk commented on #60
But A isn't even supported at this time, nor by babel or Typescript, is it?

We can't drop B while it's the only thing that works? :-)

[2017-11-26 13:38] JorgeBucaran commented on #60
@mindplay-dk AFAIC both A and B are currently supported by the library.

[2017-11-26 14:08] mindplay-dk commented on #61
Events like `oncreate` and `onremove` are what enable integration with third-party JS components, which, for me, is one of the primary value proposals of picodom: integrating third-party plain JS components is really, really easy.

For example, using a third-party cropper or WYSIWYG editor, drag-and-drop lists, tree-controls, etc. there's usually going to be a destroy method of some sort that clea

[2017-11-26 14:48] JorgeBucaran commented on #61
I have two questions:

1) What is the equivalent in React/Preact to destroy.
2) What are some good use cases for this event? I've never had the need for one and I've integrated third party tools like CodeMirror.

[2017-11-26 15:34] mindplay-dk commented on #61
As far as my understanding, there are no element-level life-cycle events in React - there's life-cycle events for Components only, as far as I know, and according to my coworker, when components get removed in cascades, there are unmount events for them, which is probably the closest equivalent.

How?

You'd be able to create your CodeMirror instance in `oncreate`, but I don't understand how you'd

[2017-11-26 15:48] mindplay-dk commented on #61
I've [attempted an implementation](https://github.com/picodom/picodom/compare/master...mindplay-dk:destroy-event), including a test-case - it partially works, but I can't figure out why the child-node goes missing for one of the two destroy-notifications...

[2017-11-26 15:50] JorgeBucaran commented on #61
@mindplay-dk Are you using keys?

[2017-11-26 15:58] mindplay-dk commented on #56
I'm treating values as properties if they map to properties ;-)

[code]

[2017-11-26 15:59] mindplay-dk commented on #60
@JorgeBucaran yes, and it sounds like this proposal is about removing B, which is the only one that works?

[2017-11-26 16:00] JorgeBucaran commented on #56
@mindplay-dk I was reading it wrong. Thanks! This looks good, could you make a PR?

[2017-11-26 16:02] mindplay-dk commented on #61
@JorgeBucaran key-based operations only apply to the immediate parent - just like the `onremove` event. Why would that make any difference?

[2017-11-26 16:03] JorgeBucaran commented on #60
@mindplay-dk No. Both A and B work. This proposal is about removing B.

I want to gather feedback first, this is not really a proposal per se.

I agree with this, so I am not so excited about the idea anymore. 😄

[2017-11-26 16:03] #60 closed

[2017-11-26 16:06] JorgeBucaran commented on #61
When I integrated CodeMirror with Hyperapp I used keys to make sure onremove was called for the element that I used to keep CodeMirror's instance, but you have a point that I may have been missing something.

[2017-11-26 16:10] mindplay-dk commented on #56
Yeah, but... I have two failing tests and no idea how to fix either of them.

[2017-11-26 16:13] mindplay-dk commented on #61
You're welcome to see if you can finish what I started - I've been working for most of the day, so I'm a bit low on steam for tonight, and I likely won't be able to put in more time until next weekend.

[2017-11-26 16:13] JorgeBucaran commented on #56
Well, in that case I guess I'll help myself with your fork and try to come up with a solution myself! 💪😄

[2017-11-26 16:14] JorgeBucaran commented on #61
@mindplay-dk Thanks! Are you referring to this branch?

- https://github.com/mindplay-dk/picodom/tree/deep-onremove

[2017-11-26 16:20] mindplay-dk commented on #61
Nope, this one here:

https://github.com/mindplay-dk/picodom/tree/destroy-event

[2017-11-27 15:04] cjh9 opened #62 "Possibility to calculate diff without applying the changes (patching) to the dom"
I would like to calculate the diff between two trees, without patching, because it will be done in a webworker (without access to the DOM).

Similarly to what is done here: https://github.com/Matt-Esch/virtual-dom
[code]
Can this be done in this vdom implementation?

[2017-11-27 15:14] JorgeBucaran commented on #62
@cjh9 I haven't explored this idea in picodom because of the size limitation and because there are libraries that already do it, and I am personally more interested in improving the diff algorithm.

It would be cool, though if you or anyone worked on this as a fork or picodom spin-off.

https://github.com/hyperapp/hyperapp/issues/216

[2017-11-27 15:18] leeoniya commented on #62
from what i remember, the overhead of webworker communication usually erases any perf gains and ends up behind. this may have been before Transferable Objects though, and you'd gain some async properties by doing this, even if not speed.

[2017-11-27 16:06] cjh9 commented on #62
@leeoniya This is not the case in my case, I'm rendering a huge tree which sometimes blocks the UI (even though the dom-change is very small)

[2017-11-27 16:12] leeoniya commented on #62
can you quantify this? how many DOM nodes?

[2017-11-27 16:44] cjh9 commented on #62
@leeoniya I'ts a markdown editor that converts to virtual dom, so i'm just testing corner cases with large documents. If printed the document will be ~100 pages (not that it will tell you that much, it ofc depends on the font size etc 😅 ) I haven't calculated the actual number. So then it takes in the order of 0.5s to do the diff + patch + browser render...

[2017-11-27 16:49] leeoniya commented on #62
open devtools and run `document.querySelectorAll("*").length`

[2017-11-27 17:46] cjh9 commented on #62
@leeoniya 100102 nodes, numbers in milliseconds:

Markdown 281.75
KATEX 1253
Parse Tree 519 (HTML -> syntax tree)
Convert tree to Vnodes 785 (recursive create the vnode tree)
DOM ready 1196 (picodom.patch, requestAnimationFrame fired in a MutationObserver)
TOTAL TIME 2741.2550000000047

[2017-11-27 18:11] leeoniya commented on #62
yeah, that's a lot. virtual dom in general is not well suited for enormous documents or stuff like syntax coloring that must generate tons of dom. pagination would be an obvious suggestion here, both for the browser (mch smaller dom) and the vdom lib (smaller vtree). you may get better results with projects like prosemiror [1] and mobiledoc [2].

[1] http://bustle.github.io/mobiledoc-kit/demo/
[2]

[2017-11-27 19:11] cjh9 commented on #62
@leeoniya Yes, but this is just a corner-case. The render time is fine especially since most of the work can be done in a web-worker. However, if I could do the diffing in another thread it would be awesome! When typing the dome-changeing is typically very small. Do you know of any other vdom implementation that can do diffing separately?

[2017-11-27 19:49] leeoniya commented on #62
not off the top of my head, but definitely look through [1]. i dont think you will find any fast libs that can do this for the following reason: they patch iteratively rather than figuring out an "ideal" diff in advance and then applying it. i *suspect* that virtual-dom's patches are not the ideal dom-ops case in many situations that need complex reordering. i think you're on the right track by as

[2017-11-28 00:41] JorgeBucaran commented on #62
@cjh9 You definitely need a strategy to work with large files. I think @leeoniya's paging idea is worth researching a bit.

Even if I tell you picodom will do what you want, it couldn't  possibly happen in just a few weeks, so you have ample time to explore other options.

I found this for you:

- https://github.com/snabbdom/snabbdom/issues/197

[2017-11-29 19:43] 4lejandrito commented on #61
Hi!

As explained in https://github.com/hyperapp/hyperapp/issues/468, I experienced the same problem. Glad to see you guys are already working on a solution.

I'll be happy to help if needed.

[2017-11-30 07:59] mindplay-dk commented on #61
@4lejandrito you're welcome to see if you can make the test pass :-)

[2017-11-30 19:48] cjh9 commented on #62
@leeoniya I see, so the problem with MobileDoc is that it seems I can not render math. I want to do markdown+latex.. and to my knowledge Katex is the only fast option for the web right now.

I thought i was going to be able to do it with virtual-dom, but it turns out that the datastructures are typed. I have to do some kind of custom serializer (plain JSON won't work).
https://github.com/Matt-Esch

[2017-11-30 20:32] 4lejandrito commented on #61
Possible fix implemented in hyperapp. See https://github.com/hyperapp/hyperapp/pull/470.

[2017-11-30 21:31] mindplay-dk opened #63 "Custom Elements Everywhere"
This seems like a good initiative:

https://custom-elements-everywhere.com/

Demonstrating support for custom elements would probably be a good move to make sure we're ready for the future - as well as to promote the library.

(`hyperHTML` is the only other lightweight framework on the list, and one of the only ones passing all the tests.)

[2017-12-01 00:25] JorgeBucaran commented on #63
@mindplay-dk How hard could it be to get on that list? Looks doable.

[2017-12-01 00:26] JorgeBucaran commented on #62
@cjh9 Cool! Thanks,

[2017-12-01 00:26] #62 closed

[2017-12-01 09:16] mindplay-dk commented on #62
Possibly unrelated, but I noticed that `createElement` knows about `isSVG`, but `setAttribute` does not - and I've noticed some other libs use `setAttributeNS` when seting SVG attributes. Could this be for performance reasons? Just a thought.

[2017-12-01 17:41] leeoniya commented on #62
@cjh9 i randomly stumbled upon this [1] today, which sounds like exactly what you're asking for.

[1] https://github.com/Gozala/dominion

[2017-12-03 02:44] cjh9 opened #64 "Using styles as strings doesn't work"
So this `h('div', {style:'background:red;etc..'})` doesn't work styles are assumed to be an object.. Is it supposed to be like that or should we accept strings as well? Line 56 in `patch.js`

Also the NPM is pointing to an old version compared to the docs

[code]

does't work, call signature has changed.

[2017-12-03 04:16] JorgeBucaran commented on #64
@cjh9 Yes, `style` must be an object as you noted. See https://github.com/picodom/picodom/issues/25 for a previous discussion. 👋

I'll update the docs, thanks!

[2017-12-03 04:16] #64 closed

[2017-12-03 04:19] jorgebucaran opened #65 "Add types for VDOM events."
We have 3 VDOM events at the moment:

- oncreate(element)
- onupdate(element, oldProps)
- onremove(element): remove

But they are not typed in the type declarations.

[2017-12-05 07:54] mindplay-dk commented on #65
I haven't been able to figure out the right syntax for this - hopefully a solution can be used as a reference to solve #36 more broadly, which I'd be happy to help with :-)

[2017-12-07 19:27] cjh9 commented on #25
@arturi I really needed inline styles, because I'm creating a virtual-dom tree from the output of katex.

So I just changed line 60 in `patch.js`, `setElementProp` to:
[code]

and inline style-strings work.

[2017-12-08 01:19] JorgeBucaran commented on #25
@cjh9 Pet peeve: `typeof` is not a function ;)

[2017-12-08 13:54] cjh9 commented on #25
@JorgeBucaran Right, but it works because the parenthesis just return the value, and the operator requires no space. You earn something new everyday, thanx :)

[2017-12-08 13:55] JorgeBucaran commented on #25
@cjh9 https://github.com/prettier/prettier

[2017-12-08 19:38] cjh9 opened #66 "Keyed DOM-nodes get rerendered when they shouldn't?"
Take a look at these runnable examples, one written with petit-dom and the other with picodom:

# Picodom
[code]

# Petit-dom
[code]

Open Chrome devtools, inspect elements and click on any text label do remove it, notice that the algorithm in picodom applies dom-changes to all the text-labels after the actual label (see animated gif below). They are also logged with the onupdate hook. But with pe

[2017-12-09 02:11] JorgeBucaran commented on #66
@cjh9 Could you please write more readable code? I could edit your post and format the code for you, but then that's kind of disrespectful to the maintainer of the project.

[2017-12-09 14:32] mindplay-dk commented on #25
FWIW, I'm in favor of supporting `style` as a `string` - I find it surprising when standard DOM-attributes can't be initialized the way you'd initialize a DOM-attribute anywhere else.

[2017-12-09 14:36] JorgeBucaran commented on #25
I find life without surprises rather boring.

[2017-12-09 16:58] leeoniya commented on #25
this is more "surprise, a flat tire!" than "surprise, a trip to italy!". to be fair, i *do* prefer all my network switches to randomly drop packets; i haven't bought a boring, predictable switch in years. 😆

[2017-12-09 17:09] cjh9 commented on #66
@JorgeBucaran Sry, just updated the code and ran it trough prettierJS :) Ok?

[2017-12-09 21:22] Wildhoney opened #67 "Any thoughts for "on" attributes for custom events?"
I use Picodom in [Switzerland](https://github.com/Wildhoney/Switzerland) due to its size. Definitely good work!

However lately I've been wondering whether it'd be possible to support custom `on` attributes. For example: `<todo-input onadd={() => ...} />` which would desugar to ~`node.addEventListener('add', () => ...)` where the `todo-input` node could dispatch `add` events using the `CustomEvent

[2017-12-09 23:32] JorgeBucaran commented on #25
https://reactjs.org/docs/dom-elements.html#style

[2017-12-10 12:51] mindplay-dk commented on #25
Having thought more about this, I've changed my mind.

One reason *not* to support strings, is it makes it impossible to incrementally patch CSS properties, since you can't directly diff between a string and an object - or, at least not without rolling out a CSS parser for the string first, which is likely out of the question. So, if we support strings, we'll invite weird edge-cases where the styl

[2017-12-11 10:34] zaceno commented on #66
@cjh9 Yes currently that's the behavior. If I understand what's going on correctly, it's not a bug, but a potential optimization to the patch-algorithm.

It's been discussed elsewhere (can't recall where now though), but the idea is that we should identify how much of the beginning *and end* of the list that hasn't changed, and leave those parts alone. Only apply the keyed patching algo to the mid

[2017-12-11 11:50] JorgeBucaran commented on #66
https://github.com/hyperapp/hyperapp/issues/216

[2017-12-11 11:58] JorgeBucaran commented on #67
Hi @Wildhoney! Do you think this sort of thing belongs to core and not to userland?

And how does it work for firing the event? I see how attaching the event listener would work, but what about firing the event?

[2017-12-11 12:24] Wildhoney commented on #67
I think firing the event would be left to *userland* via `dispatchEvent`.

I'm not sure if the actual registering of the event would be a concern for picodom, because it does seem to be overstepping somewhat.

If I were to recursively iterate through the tree to invoke `addEventListener`, how would I know when to invoke `removeEventListener`? Would that happen automatically upon removal of the nod

[2017-12-11 12:42] JorgeBucaran commented on #67
👍

@Wildhoney You need `ondestroy`, which we don't have yet, but will soon. See: https://github.com/picodom/picodom/issues/61

[2017-12-11 12:45] Wildhoney commented on #67
Would `ondestroy` be user-specified? Because if the `on` events were registered automatically by Switzerland, then I'd ideally want to remove them automatically upon removal from the DOM, rather than the user of the library having to remember to `removeEventListener`.

[2017-12-11 12:48] JorgeBucaran commented on #67
@Wildhoney I think you need to call removeEventListener when the element is going to be removed or its parent is removed, that's the correct place to free up resources, clear timers, close connections, etc., which is what you want here. Unfortunately, `ondestroy` is not yet available. But you could get away with `onremove` as I did up until now (which is why there is no `ondestroy` event).

[2017-12-11 12:52] JorgeBucaran commented on #67
@Wildhoney Thanks! If I didn't answer a question directly or you failed to receive the feedback you were looking for simply keep asking, I may get it right eventually! 😄

[2017-12-11 19:23] JorgeBucaran commented on #66
@cjh9 :) Not a bug! The vnodes are just being touched by setElementProp, we are setting onclick and onupdate handlers on them on every render.

[2017-12-11 22:40] Wildhoney commented on #67
Just in case anybody else is interested at any point &mdash; I added the functionality [like so](https://github.com/Wildhoney/Switzerland/blob/v1.4.0/src/middleware.js#L190-L247).

It allows you to pass arbitrary `on` handlers to your nodes &ndash; or in my case your custom elements &ndash; which are then invoked when you `dispatchEvent` from any of the children.

With the following JSX:

[code]

[2017-12-12 00:39] JorgeBucaran commented on #67
Thanks for sharing @Wildhoney. My only suggestion would be, instead of node.dispatchEvent, you could pass the "dispatchEvent" function to the oncreate handler. Don't know if that would be easier on your current solution.

[2017-12-12 06:49] cjh9 commented on #66
@zaceno @JorgeBucaran I've just debugged the thing and it looks like it is just reattaching the event listeners, so the dom-nodes are not recreated.

 However this is not why the nodes are flashing, try attaching an event listener in devtools `$0.onclick = function(){console.log('hello')}`, nothing will happen. They are flashing because the algorithm are changing their order with `insertBefore` in

[2017-12-12 07:37] zaceno commented on #66
@cjh9 Ah I see. And *that* is something I think could only be fixed with an algorithm that ignores the unchanged beginning *and end* of a list. The "prefix/suffix" discussion from hyperapp/hyperapp#216

[2017-12-12 07:49] JorgeBucaran commented on #66
@cjh9 Thanks for figuring it out why stuff was flashing! 👍

[2017-12-12 08:19] Wildhoney commented on #67
I'm not sure I follow @JorgeBucaran. If you have access to the `node` in `oncreate` then surely you also have access to `dispatchEvent`?

[2017-12-12 08:22] JorgeBucaran commented on #67
If it's not an issue, nevermind! I just didn't like so much `node.dispatchEvent` and thought it would be nicer if you could call dispatchEvent without `node`.

[2017-12-13 04:49] cjh9 commented on #25
@mindplay-dk Sounds very ambitious to incrementally patch css properties 😛  If you set the background of `body` to blue and then try to do `document.body.style.background = 'blue';` in the console, the browser will not make any dom-changes.

So a simple css parser is perhaps just`cssstring.split(/;/).map((i)=>i.split(/:/))`?

My development cycle is not going to the editor and change css, I always

[2017-12-13 11:51] mindplay-dk opened #68 "Unexpected reordering after keyed removal"
Per this example using current unstable picodom `@2.0.0`

https://jsfiddle.net/4eunk2um/

Click to remove elements from the list, and note how the removed element always ends up at the bottom of the range - because it doesn't get destroyed until 2 seconds later.

Keyed updates presumably exist, for one, so you can do this sort of thing?

[2017-12-13 11:56] JorgeBucaran commented on #68
@mindplay-dk It seems this demos the problem you were having or am I looking at something else?

[2017-12-13 11:58] JorgeBucaran commented on #68
Nevermind, I see the elements are correctly removed, but I admit there's something funny going on.

[2017-12-13 13:08] zaceno commented on #68
@mindplay-dk @JorgeBucaran this is just how the algorithm works. We can't leave the to-be-removed-elements in their original place, because that messes up the indexes mapping vdom to DOM. So the elements go to the bottom of the list, outside the range of the vdom.

I don't think I'd consider it a bug so much as the only reasonable way to handle delayed element removal. More like a "known limitatio

[2017-12-13 14:25] mindplay-dk commented on #68
I think maybe we just discovered why some libs (petit-dom, snabbdom, etc.) implement diffing and patching in two separate passes.

To me, this is by no means a "limitation" - it makes `onremove` not useful for the one thing I'd want to use it for: transitions.

[2017-12-13 14:39] JorgeBucaran commented on #68
@mindplay-dk What would you suggest?

[2017-12-13 15:50] mindplay-dk commented on #68
One option is promises, like I suggested earlier - so that you can actually know when an update has finished. Not completely convinced that would even solve it necessarily though, since another update could be triggered indirectly by another DOM event (click, input, etc.) before the update is complete - you'd have to control the updates at a higher level to address that, e.g. something like snabbd

[2017-12-13 15:54] JorgeBucaran commented on #68
What if we make onremove function like ondestroy, which is actually necessary and we can implement (@4lejandrito already did!) and just get rid of the current behavior. For animation I would prefer CSS.

[2017-12-13 16:19] mindplay-dk commented on #68
In theory, so would I - in practice, as said, the data as already been removed from your model, unless you build your model with something like an array of `elements_being_removed`, which would just be tremendously awkward. Animation is a detail I don't want to concern my model with.

The promise idea might work... this part:

[code]

Here we skip to the next old index, potentially skipping an ele

[2017-12-13 17:12] leeoniya commented on #68
i'm not too familiar with the picodom's reconciler, but all too familiar with these implementation details. domvm has a 2-pass reconciler:

1. oldVtree <-> newVtree is resolved and attrs/textcontent is patched, dom element is re-linked to new vtree
2. the dom reconciler reorders the dom children

part 2, if any element must be removed and `willRemove` or `willUnmount` hooks return a Promise, it ho

[2017-12-13 18:38] mindplay-dk commented on #68
For starters, I've modified the `onremove` test-case (#69) to provide a clear illustration of the problem.

This modified test-case defers the removal by hoisting the `remove` callback to the test-scope - then makes assertions after patching but before invoking the deferred/hoisted `remove` callback.

In my opinion, we should get this working before attempting to add the `ondestroy` feature - thes

[2017-12-13 22:39] zaceno commented on #68
I think something like you guys suggested, passing forward "dead" nodes at their current index, might do just the trick. And now I'm curious to investigate it (no promises though, I'm a bit busy at the moment)

I feel like I've kind of been the "transistions" guy in the hyperapp/picodom sphere. And yet this hasn't been a pressing issue for me. That's because I've also been doing FLIP animations, w

[2017-12-13 22:52] leeoniya commented on #68
@zaceno https://github.com/leeoniya/domvm/issues/159 & https://jsfiddle.net/cup40vu7/

[2017-12-14 00:41] JorgeBucaran commented on #68
What does preact do here?

[2017-12-14 11:55] JorgeBucaran commented on #68
@mindplay-dk By the way, I forgot to ask probably the most important question. What's the desired result? Like, how would you expect the animation to play out?

[2017-12-14 12:22] zaceno commented on #68
I would assume it's that the elements keep their current place in the list until they're actually removed. Like in @leeoniya s example with vmdom

[2017-12-14 13:11] mindplay-dk commented on #68
What @zaceno said :-)

[2017-12-14 13:28] JorgeBucaran commented on #68
It's hard to understand @leeoniya's example, I mean not his code (well, that's another story haha), but the concept we under discussion. I'll try looking at it again.

@mindplay-dk So, you want the element to remain on the DOM, but you changed the state and the DOM is built according to the state.

[2017-12-14 13:38] zaceno commented on #68
@JorgeBucaran not just remain in the dom, but remain at the *same place* in the dom (so they don't jump to the bottom before animating out)

[2017-12-14 13:46] mindplay-dk commented on #68
It is, but not according to how `onremove` supposedly works.

So either the specification is wrong, in which case `onremove` likely shouldn't exist at all - or the specification is right, and `onremove` needs to meet the spec.

I'd argue the latter - there's a reason we have the VDOM as an intermediary before the real DOM, and enhancing the life-cycle vs that supported by DOM itself, is arguably o

[2017-12-14 13:47] mindplay-dk commented on #68
(I'd love to help solving this problem, I just don't know when I'll have time.)

[2017-12-14 13:59] JorgeBucaran commented on #68
@mindplay-dk I am not looking for excuses to forego this feature, but I first need to understand what we want. 😄

[2017-12-14 14:06] leeoniya commented on #68
in fewest words: during any redraw, the lib should never move elements that have been queued for removal by a prior ondestroy/promise.

the code in the jsfiddle i linked wasn't mine, heh :)

[2017-12-14 14:43] zaceno commented on #68
@JorgeBucaran what leeoniya said.

You are aware, of course, that when we see that a keyed node is removed from the vdom, and we go to see if there's an onremove handler to call.

Then if there *is* we *don't* immediately remove the element.  So the element is still in the dom for a while - but *where* in the dom? At the *bottom of the sibling list*.

The effect of that is, if you naively use a cs

[2017-12-14 14:45] zaceno commented on #68
But!

... I'm not entirely sure I want that behavior @mindplay-dk is suggesting.

I think I'd perfer to keep the current behavior, and just document it better. Just state in the docs, that when you use onremove, and don't immediately remove the element, it will be moved somewhere else in the dom, outside the reach of the patching algorithm.

The reason I'd like to keep the current behavior is that

[2017-12-14 15:08] zaceno commented on #68
I deleted my previous comment of why I want to keep the current behavior, because just after posting I realized a solution to the thing I was saying would be impossible with @mindplay-dk 's suggested behavior. 🤦‍♂️

[2017-12-15 08:11] mindplay-dk commented on #68
@zaceno right on the money! 😄

@JorgeBucaran what he said 😉

[2017-12-15 14:33] mindplay-dk commented on #68
I attempted a fix but I'm out of time, and I had to give up.

I can provide some clues as to what *won't* work.

My idea was to flag the old node for preservation inside `removeElement`:

[code]

Note that I change the function signature from `(parent, element, childProps)` to `(parent, child, element)` so as to get access to the VNode.

Inside the main loop I figured I'd then splice the preserved

[2017-12-15 18:45] zaceno commented on #68
@mindplay-dk @JorgeBucaran yes I made a brief attempt at it too, but I think this requires a bit of a rethink of the algorithm, at least for me. Unfortunately I don't quite have the time either, at the moment. But IIRC Jorge was planning a makeover anyway, to optimize it somewhat. Maybe look into this at the same time?

[2017-12-16 10:17] JorgeBucaran commented on #68
If this is not resolved by then, I'll definitely look into it when I get to rewrite patch. Maybe in 2 or 3 months if I can use my time well. I really wish it could be sooner! 😞

[2017-12-16 17:16] JorgeBucaran commented on #7
Yes!

[2017-12-16 17:17] JorgeBucaran commented on #53
I think it's working now! Thanks! @genofire 🏄

[2017-12-16 17:17] #53 closed

[2017-12-17 12:35] mindplay-dk commented on #7
@JorgeBucaran here's where I am with my Typescript rewrite:

https://bitbucket.org/mindplaydk/veedom/src

There's a bunch of noisy console output at this time, as I'm still evaluating some things by merely reading through the order of events, but a lot of tests are passing now, including tests for `onremove` and `ondestroy` - although I haven't tested for the loss of ordering yet, which may affect

[2017-12-17 12:45] JorgeBucaran commented on #7
Awesome! 👍

By the way, I'd like to combine onremove and ondestroy into a single event (without any functionality loss) like I did with hyperapp.

[2017-12-17 12:59] mindplay-dk commented on #7
Yeah, I saw that, did I comment? I don't understand how that would work.

If you have only one event that always gets fired, how do you know whether to trigger animation or clean-up when that event fires? It seems like, if you have only one event, and the same element needs to respond both to removal (with animation) and needs to clean something up, you're going to trigger unnecessary animation of

[2017-12-17 13:04] JorgeBucaran commented on #7
https://github.com/hyperapp/hyperapp/blob/f9ad50ff8f89be0723ef1bdaf3350536dd7d8f11/src/index.js#L192

@mindplay-dk What do you mean? You either want to trigger an animation or clean-up resources and `done` should only be called on the top-most onremove, since we are not going to call `removeChild` on child elements.

[2017-12-17 13:18] mindplay-dk commented on #7
The last cycle of this test [here](https://bitbucket.org/mindplaydk/veedom/src/424b8c8020b3ec2eea077255d3730a8a454e303f/src/test.tsx?at=master&fileviewer=file-view-default#test.tsx-248) - I expect the remove notification for the parent div only, but I expect destroy notifications for the parent *and* child divs.

If you have only one kind of notification, how can you tell if the element is being d

[2017-12-17 13:25] JorgeBucaran commented on #7
`onremove` is only called for a top-level element and `ondestroy` is called for all the elements.

With a single `onremove`, if I am using `onremove` on a top-level element for animation, I will be calling `done` when the animation or transition is done. If am using it on a child/nested element, that means it's not for animation, but for cleaning up resources, so I don't need to call `done`.

And,

[2017-12-17 13:41] mindplay-dk commented on #7
How will you know which is the case?

For example:

[code]

Let's say every `<li>` contains a date-picker control from a third-party library.

Every `<li>` is going to need an `onremove` handler for the animation that gets triggered for the individual items in the list. With a unified `onremove`, that's fine - I can clean up the date-picker instance when the animation finishes.

But every `<li>` i

[2017-12-17 14:08] JorgeBucaran commented on #7
@mindplay-dk I see what you are saying now, you are right! 🙃

Okay, what about this: pass a second argument to the function `(element, isRoot)` that tells you whether the element is being directly removed

[code]

[2017-12-17 14:54] mindplay-dk commented on #7
I'd say that's a symptom of complecting two concerns into one.

The resulting complexity will spread and generate more if-statements and/or inline functions, making it harder to reason about these handlers - your example doesn't work, you're destroying the date-picker too soon: it'll pop out of view before the animation starts.

A working example might look more like this:

[code]

If the clean-up

[2017-12-17 14:59] mindplay-dk commented on #7
Meanwhile, back in the jungle: I added the order preservation test for deferred removals to my implementation, and, it suffers from exactly the same problem - I'm stuck with the exact same dead ends as with picodom, and still no closer to solving it either for picodom or my own patcher 🙄

[2017-12-17 15:04] JorgeBucaran commented on #7
So, something like this is the cleaner alternative in your opinion.

[code]

[2017-12-17 15:06] JorgeBucaran commented on #7
And for comparison, here is mine.

[code]

[2017-12-17 15:11] JorgeBucaran commented on #7
Or this

[code]

[2017-12-17 15:12] mindplay-dk commented on #7
No, just this.

[code]

Pretty clean and simple? :-)

[2017-12-17 15:25] JorgeBucaran commented on #7
@mindplay-dk You are totally right. I won't proceed with my plan and I will bring back ondestroy to hyperapp. Thanks! 👍

[2017-12-17 16:39] JorgeBucaran commented on #7
@mindplay-dk I just realized we had this entire convo on the wrong issue! Too late now! 😆

[2017-12-17 16:41] JorgeBucaran commented on #61
@mindplay-dk So, what I did in Hyperapp is rename the old onremove to `onbeforeremove` and the new ondestroy to `onremove`.

| before | now |
| onremove | onbeforeremove|
| ondestroy | onremove |

I suggest we proceed just as well in picodom.

@4lejandrito @zaceno

[2017-12-18 07:56] mindplay-dk commented on #7
@JorgeBucaran haha, whoops 🙄

[2017-12-18 08:00] mindplay-dk commented on #61
IMO that's unnecessarily verbose, hard to read (with the `rere` in the middle) and difficult to type.

Why not simply keep it consistent with Snabbdom?

[2017-12-18 08:06] JorgeBucaran commented on #61
What does snabbdom have to do with picodom? `onbeforeremove` is informative and consistent with how other DOM events are named:

- onafterprint
- onbeforeprint
- onbeforeunload

[2017-12-18 08:39] mindplay-dk commented on #61
Event hooks referring to two stages of the same event typically use the before/after prefixes - in this case, what I think we just established, is that removal and destruction are two distinct life-cycle events, more so than just two phases of the same event.

`beforeunload` for example occurs immediately before `unload` - they're two phases of the same event, and they're closely related, for exam

[2017-12-18 08:44] JorgeBucaran commented on #61
This doesn't really bother me. I'll think about it! :)

[2017-12-18 15:21] JorgeBucaran commented on #61
@mindplay-dk I don't have a better name yet. 🤔

I see what you are saying, though, `onbeforeremove` is only called before `onremove` when the element is being directly removed, otherwise, when the element is indirectly removed as a result of removing the parent, only `onremove` in those elements will be called, **even** if they have an `onbeforeremove`.

With my choice I was trying to be informati

[2017-12-19 08:06] mindplay-dk commented on #61
In react terminology, components "mount" and "unmount".

"clean up" sounds more like what *you* might do in response to the element being destroyed, so I wouldn't use that for the event name - it's too loaded.

Honestly, I do think "remove" and "destroy" are very descriptive - because "remove" is the event triggered by the removal of a VNode from one update to the next, and "destroy" has a finalit

[2017-12-19 08:10] JorgeBucaran commented on #61
@mindplay-dk You are right. What do you think about `ondetach` it has the same number of letters as `oncreate/onupdate/onremove`.

I think the issue I had with these two events could be addressed with better documentation. Onremove is called when elements are being directly removed, whereas ondestroy is called when the element is directly removed or when an ancestor (e.g., parent) is removed.

[2017-12-19 08:18] mindplay-dk commented on #61
"detach" doesn't imply to me the finality - it sounds like it might get detached and then attached again somewhere else. (I'm not even 100% sure if you're suggesting "detach" instead of "remove" or "destroy".)

"removing" something from the DOM doesn't imply finality, as in DOM terms you can remove and then insert the same element again, as long as you have an element object reference.

"destroy"

[2017-12-19 08:30] JorgeBucaran commented on #61
Ah, the OO argument works for me, as that is exactly how you'd use ondestroy, as a destructor. 👍

[2017-12-19 09:29] mindplay-dk commented on #61
It's good to have these discussions - terminology is super important; I find until you can put words on things, it's likely you don't yet understand (or don't agree) on the division of responsibilities to different units. I think by now we're both much clearer on what's what 😄

[2017-12-19 14:49] mindplay-dk commented on #56
Bingo, the tests are passing 😄

I've opened a PR which I think is ready for review now.

[2017-12-22 09:52] mindplay-dk opened #71 "Add support for JSX fragments"
[JSX fragments](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html) are a thing now - we should add support for this.

Note @JorgeBucaran: since you're planning to rewrite the diff algo, I'd suggest writing it with fragments in mind - that is, work from the assumption that everything is a set. It's generally simpler/easier to work from the assumption of zero-or-more sets of (V

[2017-12-22 10:48] JorgeBucaran commented on #71
@mindplay-dk Hmm, not really sure I'd want this at all.

[2017-12-22 12:58] mindplay-dk commented on #71
It enables you to implement functional components that return a range of elements - in other words, you're not longer forced to start every component with a (sometimes dummy) wrapper element.

Anyways, it's what JSX is now - it's already supported both by Babel and Typescript.

[2017-12-22 12:59] mindplay-dk commented on #71
It's definitely low on my wishlist though - the critical thing (IMO) is sorting out the life-cycle events. Once that's done, I can actually start building my app with this 😄

[2017-12-22 13:03] #56 closed

[2017-12-22 13:32] JorgeBucaran commented on #71
We can create components that return a range of elements already!

[code]

What we don't currently support is patching a root node that it itself is an array.

[2017-12-22 14:00] mindplay-dk commented on #71
I know, but that's kind of ugly, and it's not how the JSX community wants to do it.

React also does not support that, as far as I know - the point of JSX fragments, if I understand correctly, is merely to be able to create a range of elements using XML-like JSX syntax, without having to wrap it in braces and brackets.

Anyhow, as said, this is definitely not a high priority for me, personally - b

[2017-12-22 14:14] JorgeBucaran commented on #71
You mean the community would prefer to rewrite my example as 😮

[code]
?

[2017-12-22 14:33] JorgeBucaran commented on #71
@mindplay-dk Okay, let's keep this open and see what happens. :)

[2017-12-22 14:43] mindplay-dk commented on #71
Apparently, yeah 😆

[2018-01-01 09:46] SteveALee commented on #7
A couple of points 're "original" topics :)

* typescript gives a fantastic editor experience with completion etc. Vs code uses the typescript compiler for javascript so can infer a lot but code written in ts is even better.
* I like ts compared to flow as they have worked really hard to keep it close to js with types that get stripped.  There are new language features but this mostly means the ru

[2018-01-01 09:48] JorgeBucaran commented on #7
@SteveALee TS > Flow totally.

[2018-01-01 09:52] SteveALee commented on #7
That said. For sucj a small project adding manually maontained typings gives almost all the advantages for users, if not the static typing for the lib devs.

[2018-01-01 09:55] JorgeBucaran commented on #7
@SteveALee Yes, sure and I am going to rewrite Picodom in TS! That's why I reopened :)

I hope that will be how Picodom can start to evolve away from Hyperapp into its own thing. 🙏

[2018-01-02 16:01] mindplay-dk commented on #61
@JorgeBucaran this should be fixed in `master` now, so we can close this, right?

[2018-01-02 16:03] JorgeBucaran commented on #61
Yes! 👍

[2018-01-02 16:03] #61 closed

[2018-01-02 16:09] mindplay-dk commented on #58
Not what I was suggesting - standard DOM handlers are bound to the `Element` instance, e.g. with HTML:

    <button onclick="console.log(this instanceof HTMLElement)">Boom!</button>

Clicking this buttons emits `true` in the console - whereas the corresponding JSX:

    <button onclick={ () => console.log(this instanceof HTMLElement) }>Boom!</button>

Emits `false`.

It would be less surprising if

[2018-01-02 16:22] JorgeBucaran commented on #58
I get it now. You could retrieve the element from the event handler. No, I want to keep this open as I still don't know what to do with this one. For Picodom the "right" way to go would probably be as you suggest.

[2018-01-03 00:05] jamen commented on #58
Worth noting that you cannot bind `() => {}` as mentioned:

[code]

Curious if this works with `function () {}`.  But either way, the `event.target` seems to suffice.

[2018-01-03 00:37] JorgeBucaran commented on #58
@jamen True, I'd forgotten about that. That means the user would need to pass a normal function to be able to get the Element-bound `this`.

[2018-01-03 10:12] mindplay-dk commented on #58
Ugh, yeah, I see.

Man, why does the fat arrow operator even produce a `Function` instance? Neither `bind()` nor `call()` actually works like it does on other `Function` instances - those methods simply don't *work*. JS FTW 🙄

Oh well. It's not possible, so I suppose we can close this issue?

[2018-01-03 10:23] JorgeBucaran commented on #58
~~this~~

[2018-01-03 10:23] #58 closed

[2018-01-03 10:37] mindplay-dk commented on #68
@JorgeBucaran this is the only remaining major issue for me, but it's non-blocking - really only prevents use of animation at this point, and I could happily live without animation until we figure out how to solve that... Could you update the unstable `2.0.0` now on npm, so we can start testing it pls?

If you decide to release `2.0.0` as-is, perhaps consider striking `onremove` from documentation

[2018-01-03 15:36] mindplay-dk opened #77 "Note in `h.tests.tsx`"
@andrewiggins what's this note about?

https://github.com/picodom/picodom/blob/acfe0c875136da6119c8672aa66430b250a4651f/test/typings/h.test.tsx#L61

As far as I can tell, the example following that line is fine? it shouldn't fail?

If you intended to have something there that *should* fail, the test-harness wouldn't work, since it's just trying to compile the file and doesn't make any assertions a

[2018-01-03 15:53] andrewiggins commented on #77
Correct, the test harness doesn't yet check that the proper errors are thrown. For the time being I just commented the lines out and left that note as a reminder to manually test those lines.

Perhaps the comment should read "when uncommented, ..."

I had a prototype of error tests I never finished to assert errors were thrown properly but I never quite got it to a place I thought was long term ma

[2018-01-04 06:30] mindplay-dk opened #80 "Debug SVG attributes"
Basically just apply these changes from Hyperapp:

https://github.com/hyperapp/hyperapp/commit/4f147c2ec00fd2a69b2298981a81372c603211ca#commitcomment-26628985

[2018-01-04 06:46] JorgeBucaran commented on #80
In Hyperapp, after that 4f147c2, SVG attributes are never set as properties, so:

[code]

...will never run. What do you mean by opening this issue?

[2018-01-04 08:22] mindplay-dk commented on #80
Just that we should apply the same change to Picodom - I think SVG attributes are currently not working?

[2018-01-04 12:10] JorgeBucaran commented on #80
@mindplay-dk Will do! Please give me a few days. 🙏

[2018-01-04 17:03] mindplay-dk opened #81 "Modularity"
I'd like to propose we introduce a simple form of modularity.

This would allow us to delegate special handling of e.g. `style` and `class` to a separate module, and enables developers to extend and customize the engine via special attributes - for example, animation as well as integration with CSS-in-JS engines could be supported this way.

If we were to push `style` support to a module, for exam

[2018-01-04 17:04] mindplay-dk commented on #80
@JorgeBucaran I can take a pass at porting the changes tomorrow morning - I'll submit a PR! 👍

[2018-01-05 00:03] JorgeBucaran commented on #81
I think this is a great idea, but I am not interested in this for Picodom. I know this could be seen as narrow-minded, but I want Picodom to be a zero-option, drop-n-play minimum viable solution.

Snabbdom has modules and a bunch of other customization options, check it out.

[2018-01-05 00:03] #81 closed

[2018-01-05 08:09] mindplay-dk opened #82 "`oncreate` vs `onupdate`"
I noticed that `onupdate` doesn't fire during the first update, is this intentional?

I think, in most systems that offer both a create and update notification, the initial creation triggers both a create and an update notification, because there isn't typically much use for an update notification that doesn't fire the first time.

Typically the notifications you need are for creation, for destruc

[2018-01-05 09:12] JorgeBucaran commented on #82
I've noticed sometimes you need to use both oncreate/onupdate for the same thing and sometimes don't. When you have to, it's inconvenient writing a function with some logic, and calling it in two difference places.

Do you have a concrete example?

Also cc'ing this to @zaceno.

[2018-01-05 09:25] mindplay-dk commented on #82
That's what I mean. I think this change would take care of that?

I guess it's a matter of what you think "on update" means - does it mean "updating the element", or "updating the attributes of the element"?

I think the latter makes more sense - because we don't really "update the element"; there's nothing you *can* update, other than it's properties and attributes, so we're really "updating the

[2018-01-05 09:36] mindplay-dk commented on #81
I understand why you want this to be drop-in and zero-configuration, but I'm not sure I understand why it's important to keep special handling of attributes under lock and bar?

I don't see the harm in *allowing* you to extend attribute-handling? As long as it's still "batteries included", in the sense that it's self-sufficient and ready to use without any additional setup.

I went ahead and tried

[2018-01-05 14:39] JorgeBucaran commented on #82
I can't either. 🤔

[2018-01-06 02:27] zaceno commented on #82
@JorgeBucaran @mindplay-dk

I haven't had situations where I need to do something on update except the first time.

What I have found, are usually I have to do the update-thing + something extra in oncreate.

I suppose it could work as well to have onupdate run also the first time, but there would have to be a predictable order, like: oncreate always runs before onupdate.

Except that will become

[2018-01-06 03:56] Pyrolistical commented on #63
Do we expect picodom to be able to pass all the tests? is it just a matter of making a PR to https://github.com/webcomponents/custom-elements-everywhere

[2018-01-06 04:01] JorgeBucaran commented on #63
@Pyrolistical Possibly! I admit I haven't had time to look into this.

[2018-01-06 04:26] Pyrolistical commented on #71
the syntax is
[code]

and the main advantage is text nodes. people rather write `<>hello<hr/></>` over `['hello', <hr/>]`

[2018-01-06 05:06] JorgeBucaran commented on #71
@Pyrolistical What does it compile to?

[2018-01-06 05:33] Pyrolistical commented on #71
i don't understand your question, `<>hello<hr/></>` compiles to the same thing as `['hello', <hr/>]`

[2018-01-06 05:52] JorgeBucaran commented on #71
Well, that answers the question. Thanks!

[2018-01-06 05:53] JorgeBucaran commented on #71
If that's **true**, then we already support the syntax.

[2018-01-06 16:43] JorgeBucaran commented on #82
What do you think @SkaterDad?

[2018-01-06 17:13] SkaterDad commented on #82
I haven't used `onupdate` for anything yet, so I'm not going to be opinionated here.

Having separate `oncreate` and `onupdate` hooks seems pretty logical.  I wouldn't be opposed to running `onupdate` directly after `oncreate`, but @zaceno brings up some good points on where that could trip people up.  If your `oncreate` and `onupdate` functions need to do the same thing, it's only a couple lines

[2018-01-07 13:23] mindplay-dk commented on #82
The most common use-case I can think of, is when integrating with a third-party JS widget - this will need to be updated every time, e.g. both when creating and patching.

So perhaps there's a use-case for another event that only happens when an existing element is patched?

So like:

  * `onupdate` would fire *every* time the properties/attribtues of an element get updated
  * `onpatch` would fir

[2018-01-07 13:53] JorgeBucaran commented on #82
Well, the only way to figure this out is by coming up with an actual use case, whatever it may be.

[2018-01-07 14:53] mindplay-dk commented on #82
Well, one thing I'm trying to figure out is how to deal with components that need internal state - I'm almost positive we'll need the "on every update" hook for that.

So for example, I built this date-picker as an exercise on friday:

https://jsfiddle.net/mindplay/6czx4dmg/

It went smoothly, and I'm very happy - but the question is, where does internal state go? For example, `_offset` in this mo

[2018-01-07 15:23] JorgeBucaran commented on #82
@mindplay-dk That's awesome, but I mean what would be the use case for running code `onupdate`, but not on `oncreate` or at least not the same code.

I was just thinking how in Hyperapp, where there is ssr re-hydration, `oncreate` won't be called after re-hydration (since the vtree already exist) and only `onupdate` is. Your proposal would not affect that behavior, just saying.

@zaceno What is a

[2018-01-07 23:31] zaceno commented on #82
@JorgeBucaran I don't know of any use case for running code only on `onupdate` - what I was saying before is rather that there are good use cases of this:

- `oncreate`  does X + Y (or Y + X ... the order may vary)
- `onupdate` does X

@mindplay-dk Perhaps a bit OT, but you might be interested in seeing how I solved the problem of stateful components in hyperapp, here: https://github.com/zaceno/hy

[2018-01-07 23:41] zaceno commented on #82
@mindplay-dk Regarding your suggestion of adding an `onpatch` (which behaves like todays `onupdate`, and make `onupdate` behave like you suggested):

We experimented with your suggested type of `onupdate` (only run when props change) but eventually went back to just every patch.

I think the reason was that it can be kind of hard to know (in picodom) if the props really were changed (we'd have to

[2018-01-08 02:09] JorgeBucaran commented on #82
**Currently**

- createElement → oncreate
- patch/updateElement → onupdate

@mindplay-dk's **suggestion**

- createElement → oncreate onupdate
- patch/updateElement → onupdate

[2018-01-08 08:06] marc3lsk commented on #68
I "fixed" it like this:
line 166: ` if(oldKey != null) { element.insertBefore(keyedNode[0], oldElement) }`

But one test fails, so probably not very good fix :)

[2018-01-08 08:34] mindplay-dk commented on #82
So, taking in @zaceno's comment, my current suggestion is:

* createElement → `oncreate` → `onupdate`
* patch/updateElement → `onpatch` → `onupdate`

In summary, `oncreate` and `onpatch` are mutually exclusive - "create" and "patch" are about *elements* being created or patched, while "update" is about properties/attributes being updated, which happens both when elements are "created" or "patched"

[2018-01-08 09:41] JorgeBucaran commented on #82
Or we could leave things the way they are.

[2018-01-08 10:00] zaceno commented on #82
@mindplay-dk I agree that any changes that belong together should be PR:ed together, but for just discussing how things should be, issues should be used (like here). And separate questions should be in separate issues or we'll have trouble reaching agreement on anything.

Now I realize I might have misunderstood you. First I thought you were suggesting that `onupdate` would only run when any of th

[2018-01-08 10:02] zaceno commented on #82
@mindplay-dk @JorgeBucaran

I'm on board with @mindplay-dk 's latest suggestion -- that works for me. But I'm also OK with leaving things as they are.

[2018-01-08 14:19] mindplay-dk commented on #82
To be clear: no, I'm suggesting `onupdate` run consistently for every update of attributes, whether that update applies to a newly created or patched element, and whether or not any attributes have actually changed - because that seems to be the most common use-case.

For one, we'll need this functionality if we're going to integrate with third-party JS widgets - for example, a date-picker would n

[2018-01-08 14:34] JorgeBucaran commented on #82
I don't want to introduce a new lifecycle event.

So, if:

- createElement → `oncreate` → `onupdate`
- patch/updateElement → `onupdate`

does not disrupt anything, I am probably okay with it. But I would like to make sure this does not break anything.

[2018-01-08 14:47] mindplay-dk commented on #82
It's a breaking change, of course - if you were manually calling the same function from `oncreate` and `onupdate`, you'll need to fix that.

@zaceno can you look at your use-case and try to determine if it could be implemented with this change? If so, I'd say, let's go ahead and change `onupdate` - if there is no current use-case for a new `onpatch`, we can cut it; if a use-case emerges, we can co

[2018-01-08 14:48] JorgeBucaran commented on #82
That's okay, I can accept that. But will it make impossible to do something else?

[2018-01-08 14:50] mindplay-dk commented on #82
I just had an idea, let me just to try something out before we go ahead with this change - I want to check whether this might block a component implementation pattern I just thought of...

[2018-01-08 15:05] JorgeBucaran commented on #82
@SkaterDad @zaceno If we change this behavior, it will make it to Hyperapp as well, so I'd like to make sure (1) we want this (2) it does not prevent you from doing something else and (3) we won't end up introducing another lifecycle event later.

[2018-01-08 16:35] zaceno commented on #82
If we dont add a lifecycle method to behave like onupdate currently does, I am opposed to this change.

It Is a breaking change, for one. It doesn't make anything impossible to do afaik - but it does make at least one of my uses more cumbersome.

If @mindplay-dk is just trying to work out how to make stateful, reusable components, let's just help him with that.

The lifecycle methods do have one t

[2018-01-08 16:44] mindplay-dk commented on #68
@JorgeBucaran if this doesn't get fixed before `2.0`, do you think we should keep the `omremove` event in the documentation? It's sort of useless as-is, and if someone attempts to create some kind of work-around for the reordering issue, one this issue is fixed, it'll almost certainly be a breaking change.

Unless it's useful as-is (and I can't think of a use-case?) perhaps it's better to omit it

[2018-01-08 17:10] JorgeBucaran commented on #82
Could you explain your use case to me? I still don't get it.

[2018-01-08 17:12] JSteunou opened #89 "Remove `parent` as 1st mandatory argument for patch"
Having `parent` as first argument works very well when the all app is designed and wrote with picodom but not that much when used in a mixed libs app. (yes it happens in real world)

You cannot then just *render / create* a component to get its main node and then append it manually to a parent node of your choice at the time you choose.

To get around this you have to create a fake parent with `do

[2018-01-08 17:15] mindplay-dk commented on #82
@zaceno thanks 😄 yeah, that is my primary pursuit at this point.

I just found an article here talking about how to attach state to a functional component in React:

https://medium.com/@dai_shi/attaching-state-to-stateless-function-components-in-react-db317a9e83ad

Unfortunately, the library relies on React Component to implement it:

https://github.com/dai-shi/react-compose-state/blob/master/src/

[2018-01-08 17:20] JorgeBucaran commented on #82
@mindplay-dk Why are we discussing this on this issue though?

[2018-01-08 17:29] SkaterDad commented on #82
@JorgeBucaran I'm in agreement with @zaceno, that altering the `oncreate` behavior to also call `onupdate` is a breaking change.   I like the way it acts now, personally, since the lifecycle names tell you exactly when they'll be called.

[2018-01-08 19:00] zaceno commented on #68
@mindplay-dk it could be more useful, or rather: easier to use - but It IS useful. How else do you suppose I do exit transitions in hyperapp-transitions? (which, despite its name, is compatible with picodom. I've added examples to the readme now too)

[2018-01-08 19:50] zaceno commented on #82
See the link I posted above :   https://github.com/zaceno/hyperapp-nestable/blob/master/src/index.js
Never mind what it does. Just try to rewrite it to have the same behavior with the suggestion of running `onupdate` immediately after `oncreate` and you'll see the problem. It's possible, but gets a lot more complicated, because you'd need to have some code in `onupdate` which should only run if th

[2018-01-08 20:54] zaceno commented on #82
@mindplay-dk

I took your datepicker js-fiddle and turned it into two instances of a reusable datepicker component such as you wanted. Have a look: https://jsfiddle.net/1vhetmo5/4/

[2018-01-09 08:00] mindplay-dk commented on #68
I don't understand how you do them now.

I've tried to read the code, which must contain a work-around of some sort to deal with the reordering issue? My main point was that, if this is fixed/changed at a later time, it should be versioned as major, as it'll likely break your library.

[2018-01-09 08:17] zaceno commented on #68
@mindplay-dk

That is correct. The solution I found for doing FLIP animations (making elements slide smoothly from their old layout position to the new one), as it happens, also allows me to compensate for the layout change that comes from the reordering of to-be-removed elements.

But this is what I meant when I said it could be "easier to use". This workaround wouldn't be needed (by anyone). So

[2018-01-09 09:36] mindplay-dk commented on #68
Okay, cool.

You could likely simplify that code if it stayed in place though?

I mean, personally, I would strongly prefer if the library did only what is required and expected, which is defer the removal of the element - if, for your solution, you needed/wanted the element to also move to the end of the hierarchy, that should be your responsibility, it shouldn't be dictated by the library, right

[2018-01-09 10:01] zaceno commented on #68
@mindplay-dk

Yes that is correct!

Certainly. I agree it's not expected. And it's definitely not a "feature" either -- more like a side effect. I agree it would be nice if to-be-removed elements kept their position. That will take some time, if it ever does happen though.

The main problem is the unexpectedness of this behavior. We should definitely put something like this in the `onremove` secti

[2018-01-09 10:06] zaceno commented on #68
@mindplay-dk btw, did you see I made a reusable stateful component out of your datepicker in https://github.com/picodom/picodom/issues/82 (Since you didn't reply there yet, I thought you might have missed it. Hence the crosspost ;) )

[2018-01-09 12:13] mindplay-dk commented on #82
@zaceno thanks, but this is what I suggested not to do in (2)

There are two reasons I don't like this approach:

1. As said, it involves creating and managing an object instance anyhow - and manually at that, so probably overall worse than class-based components in one sense.
2. We're replicating the problem we had with DOM elements in the first place - and the solution is more or less the same a

[2018-01-09 12:16] mindplay-dk commented on #68
I have to disagree - even with a description, this is an unintended side-effect.

If we mention it at all, I think it should be designated honestly as a "known issue" and "PR welcome" - but then again, that's kind of what the issue-tracker is for.

Ideally we shouldn't release with a known issue, but as it's not a blocker for you (it is for me - I won't use this feature as-is) I wouldn't oppose re

[2018-01-09 12:30] JorgeBucaran commented on #82
It seems we are not talking about the issue at hand, and it also seems the conclusion is to either add more lifecycle events or keep things the way they are. I am going to keep things the way they are for the time being.

I found a [few dependents](https://www.npmjs.com/browse/depended/picodom) of Picodom. I don't know how actively maintained those projects are, but maybe someone already figured s

[2018-01-09 12:30] #82 closed

[2018-01-09 13:00] zaceno commented on #68
Yeah let's agree to call it a "known issue". Wether it should be in the docs or not... dunno. I think it's a nice thing to give new users fair warning before they fall into a trap. Especially if it's a trap lots of people have fallen into before them 🙃

[2018-01-09 13:22] zaceno commented on #82
Hehe ... *you* wrote that model as a class, not me 😄

I wouldn't have used classes either but I was just trying to do "minimally invasive surgery" to demonstrate the technique. The key part is how I implemented the `DatePickerComponent`. Basically, it's like a mini app attached to the main app.

Yes that involves binding the state-manager (instance of DatePickerModel) to the element. I can't think

[2018-01-09 13:38] mindplay-dk commented on #82
To be clear, I don't have a problem with classes 😃

But if the solution involves a class (or any object model) the framework needs to somehow manage the life-cycle of the object internally - it should be an implementation detail, not something that forces the consumer of the component to deal with the model and view independently. What makes this error-prone (and confusing) in my opinion, is the n

[2018-01-09 15:17] JorgeBucaran commented on #82
@mindplay-dk Have you considered joining Hyperapp's slack? There's an entire room dedicated to picodom.

[2018-01-09 16:08] estrattonbailey commented on #89
Actually hitting the same road block just this morning 😛

I'm working on a localized stateful component using picodom and the assumption that `parent.children[0]` is the root of the app from [`patchElement`](https://github.com/picodom/picodom/blob/master/src/patch.js#L113) does make it tricky. My current solution essentially runs a normal render on the first pass, and then subsequent state updates

[2018-01-09 16:08] mindplay-dk commented on #82
@JorgeBucaran there's a slack? There's no link to it anywhere 😆

[2018-01-09 16:24] mindplay-dk commented on #82
By no means "there" yet, and I have to quit for today, but I did make some interesting progress.

https://jsfiddle.net/mindplay/o2rdL259/4/

I've extended the `h` function so I can test if `type` is a constructor that extends `Component` - right now it's recreating the component on every iteration, but so far so good. Next step is to try to inject the component instance into a reserved field in `p

[2018-01-09 16:31] JorgeBucaran commented on #82
@mindplay-dk Yes, you are welcome to [join](https://hyperappjs.herokuapp.com/)! 🎉

[2018-01-09 16:53] JorgeBucaran commented on #89
Thanks, @JSteunou and @estrattonbailey for bringing this up. Do you have any proposed alternatives? 🤔

[2018-01-09 17:00] estrattonbailey commented on #89
Looking into it, seems like a fun challenge. I've pulled down this repo and linked it to my current project but my experience writing VDOM reconcilers is... well it's zero, lol. Will report back if I have a suggestion.

[2018-01-09 17:02] JSteunou commented on #89
I really like `patch(node, newVNode)` returning `node`, seems the most simple from a user perspective, and the most *I dont care about vdom, just patch my node*

[2018-01-09 17:14] JorgeBucaran commented on #89
Can you be more exhaustive? What are the types of those arguments you wrote there? Where is the container?

[2018-01-09 17:31] JSteunou commented on #89
no container, `patch` is no `mount`, `patch` just patch. You give it a true DOM node and it patches it. If you give it an empty `div` node and the nvode is `h('div', {className: 'white big', id: 'foo'})` then the node given as 1st argument will be patched to get those props.

The framework above is in charge of mounting, before or after patch 1st call.

[2018-01-09 19:03] estrattonbailey commented on #89
@JorgeBucaran I submitted a PR over at #91 introducing a `mount()` export and slightly altering the `patch()` export

[2018-01-10 06:48] JorgeBucaran commented on #89
@JSteunou In hyperapp/picodom "terminology", nodes refer to virtual nodes and elements to svg/html elements (Element, HTMLElement, etc.)

I know there is a [`Node`](https://developer.mozilla.org/en-US/docs/Web/API/Node) class, but I try to avoid talking about it in the context of VDOM.

So, anyway, do you mean this?

[code]

[2018-01-10 06:48] JorgeBucaran commented on #89
@estrattonbailey Thanks! I left you a comment there. 🎉

[2018-01-10 08:40] mindplay-dk commented on #82
Hmm, okay, I don't think class-based components are possible with what we have now.

The problem is, `patch` only lets you patch the entire contents of an entire element.

Components can occur anywhere in a list of child elements, and need to render invidually.

The `oncreate` and `onupdate` hooks aren't invoked until rendering actually happens, so the Component class, during the call to `h`, can'

[2018-01-10 14:51] mindplay-dk commented on #89
I think this kinda comes back to the issue I mentioned in my last comment [here](https://github.com/picodom/picodom/issues/82#issuecomment-356536525) - the assumption with `patch()` is that you always want to render a *single* VNode into a *single* parent element.

In my own [experimental VDOM implementation](https://bitbucket.org/mindplaydk/veedom/src/416199016c578fb027b84d18e7d3999da7703c7f/src/

[2018-01-10 14:55] JorgeBucaran commented on #89
@mindplay-dk And you want stateful components?

[2018-01-10 15:42] estrattonbailey commented on #89
@mindplay-dk yep! I think we're trying to solve the same puzzle.

As you mentioned [here](https://github.com/picodom/picodom/issues/82#issuecomment-356536525):

Prior to the proposal of #91 which introduces private references to the actual DOM nodes via `node._ref`, picodom based its `patch` on the root DOM node that the app is mounted to. If every DOM node has a pointer that relates it to a real

[2018-01-10 22:05] JSteunou commented on #89
@JorgeBucaran yes I did mean

[code]

@mindplay-dk I really like your idea. I know being forced to start any React component with a single root node was not ideal for some people. In any case the main idea is to avoid useless Element, or 2 singles Element in a *row* (single parent, single child, then true content)

Do you think it will possible to write a patch function with this signature?

[code

[2018-01-10 23:04] rbiggs commented on #82
Hey mindplay, you need to move the state into the component. Talking about state getters and setters. On top of that, state needs to be in another semi-private class property that the accessors use. That way this gets inherited by all extensions of the Component class. You would also want to store a reference to the parent, oldNode elements directly on the Component class. That way each instance h

[2018-01-10 23:14] rbiggs opened #92 "Patch prepends result to parent."
By default the patch method prepends the result to the parent element. This means that if you have a page rendered on the server with some default content and then use path on the parent element, Pidocom prepends using `element.insertBefore`. Case in view, say you have a header with title, menu, etc. rendered on the server and then try to use patch to inject content into the document body at load

[2018-01-11 01:03] JorgeBucaran commented on #82
Thanks, @rbiggs. Long time no see! 👋

I am going to ping @mindplay-dk just to make sure he gets this notification.

[2018-01-11 02:05] JorgeBucaran commented on #89
@JSteunou `patch(node: Element, newVNode: VNode): Element` where is the `oldNode`, how is patch going to work without it?

[2018-01-11 02:13] JorgeBucaran commented on #92
We inherited his behavior from Hyperapp. In Hyperapp if your container has existing content in it, we attempt to hydrate it, but there is none in Picodom, so there's no reason we shouldn't let you insertElement, appendChild or replaceElement if that's what you want. I'll look into this and have a solution for the 2.0.0 release.

[2018-01-11 07:30] mindplay-dk commented on #89
Sure, but I wouldn't - you'd have to diff VNodes against DOM elements, which is going to be a lot more complex (and likely slower) than diffing the three properties of the simple VNode model.

Though maybe there's a way around that. What if you attached `oldProps` to the DOM element? This would make diffing just as simple and easy.

I think I'd swap the order of the arguments then.

    patch(node

[2018-01-11 07:30] mindplay-dk commented on #82
@rbiggs yes, this is what I've been doing, more or less.

https://jsfiddle.net/mindplay/o2rdL259/

I use a simple pub/sub to decouple the model from the view, but this is otherwise similar.

This works great for individual pieces of UI, but it doesn't work well for composite views - and it doesn't enable JSX syntax for components, you have to manually manage the life-cycle of each component.

We'r

[2018-01-11 08:01] JSteunou commented on #89
@JorgeBucaran I dont know where it is :) ATM I'm just thinking about the API for the user. I really like to think API 1st and hide the complexity to the user under the hood ;)

@mindplay-dk Yep, reversing the arguments might be better if the Element can be optional for the 1st patch call.

[2018-01-11 08:22] mindplay-dk commented on #92
This might be mitigated also by the change proposed [here](https://github.com/picodom/picodom/issues/89#issuecomment-356752718) in #89 - for the top-most call to `patch`, order would not be an issue or a concern at all, since the caller would be responsible for designating exactly the element they want to patch; it's order wouldn't be affected at all.

[2018-01-11 08:34] JorgeBucaran commented on #89
I agree, but what about the project's target audience? Unlike Hyperapp, I don't recommend using Picodom to make SPAs without some thin state management or framework level that has a nicer API. That's not to say I don't want to improve the API, but the goal of this project is for users to make their own custom Hyperapp-like view library/framework.

[2018-01-11 09:16] JSteunou commented on #89
Yep, I was thinking API users, not necessary final user on top of the FW on top of picodom. Even for those it should be as easy as pie

[2018-01-11 13:35] mindplay-dk commented on #89
IMO we should not prioritize easy over simple and correct - this is especially bad in APIs, where making something easier often means it's less flexible and unable to support certain uses.

If somebody (me!) wants to use vanilla Picodom, that's "my problem" - and I could easily change my mind about certain things in my own architecture from project to project, so I'd strongly prefer the API isn't

[2018-01-12 06:03] mindplay-dk commented on #89
I was thinking about the idea of attaching the entire VNode to the actual DOM element - and I'm pretty sure this would solve the problem with deferred `onremove` causing reordering.

When we create elements, adding the VNode property will identify them as elements we created - when we iterate over elements, simply ignore any elements that don't have the VNode property, so the property doubles as a

[2018-01-12 06:18] JorgeBucaran commented on #89
This is good.

[2018-01-12 08:29] JSteunou commented on #89
@mindplay-dk  HyperHTML does attach the Array from template string to the node Element I think

[2018-01-12 13:12] mindplay-dk commented on #89
Attaching anything to the DOM is perhaps not ideal, but it would work as proof of concept - if needed, we could then use a jQuery-style data-strategy, where we assign a unique ID to an attribute of DOM elements, keep the actual data in an internal map, a remove garbage entries when we remove the DOM elements.

[2018-01-12 14:07] mindplay-dk commented on #89
I've started now three times and ended up breaking everything, so now I'm trying to do this in very small increments - here's the first little step towards maintaining current VDom state in a `vDom` property in the actual DOM elements:

https://github.com/picodom/picodom/compare/master...mindplay-dk:vdom-context

It's only breaking three tests, but I'm out of time - please feel free to take a stab

[2018-01-13 16:12] rbiggs commented on #92
So, looking at earlier versions of Picodom, I noticed that it used to have a different call signature:
[code]
The way `insertBefore` works is like this:

[code]
If `referenceNode` is undefined, `insertBefore` appends the new node to the target, otherwise it prepends it before the reference node. With the older call signature, during the first render `element` was always undefined. This meant that

[2018-01-13 16:17] JorgeBucaran commented on #92
@rbiggs Can you write some pseudocode of how you intended to use picodom exactly?

[2018-01-14 18:21] mindplay-dk commented on #89
After several more attempts, I think I've reached some important conclusions.

My biggest *a-ha* so far, is I think I've worked out the right signature of the inner patch function, which I'm now calling `patchTarget`, as it doesn't just patch elements, but any target node, including text nodes.

    function patchTarget(
        target: Node | undefined,
        parent: Element,
        nextSiblin

[2018-01-15 00:29] dancespiele commented on #89
@mindplay-dk would your proposal break this?
[code]
It is right that I would like to have some possibility when I use router and change the path that the parent element runs oncreate instead of onupdate.

[2018-01-15 07:45] mindplay-dk commented on #89
@dancespiele this change will make it very easy to offer a meaningful `mount` function, which is basically what you're doing here. If anything, what you're doing will likely be simpler :-)

[2018-01-15 16:18] estrattonbailey commented on #89
I've abandoned my original plans since proposing #91, but I've stayed subscribed to this thread because I find it interesting, lol.

On that note, my goal there was twofold:
1. Create a "meaningful" mount function
2. Create a simpler patch function (which would satisfy the original problem this issue was opened to address)

As you can see in [here](https://github.com/picodom/picodom/pull/91#issue-

[2018-01-15 18:33] rbiggs commented on #92
OK. Here's some links on Codepen. This is based on the discussion I was having with Mindplay about a class-based component using Picodom. My first attempt is here: https://codepen.io/rbiggs/pen/RxBKRq?editors=1010. In this pen I'm rendering two list components into the same container (section tag). This also highlights the prepend problem. The static markup h2 that should be at the top gets pushed

[2018-01-16 11:25] mindplay-dk commented on #89
What I'm proposing is the opposite: inject the vNode into the DOM element.

This makes the DOM the "source of truth", and removes the need to pass in / maintain the old vNode state yourself, allows for deferred removal, obviates the reordering issue - it even allows you to manually move/destroy managed DOM nodes, for example during drag-and-drop operations, and a simple call to update your mounted

[2018-01-19 08:08] mindplay-dk commented on #89
I'm going to work on this today.

I have trouble figuring out what the top-level `patch` function should look like, or whether `patch` is even meaningful as the top-level function?

The problem is the difference between creating new elements vs patching existing elements - the old `patch` solves that by always creating an immediate child, which creates the direct parent/child relationship problem

[2018-01-19 13:59] mindplay-dk commented on #89
Alright, guys - here's the fruit of today's labor:

https://bitbucket.org/mindplaydk/veedom/src

It's a rough implementation of the pseudo-code I posted above.

I based off of my own "Picodom rewrite", as this had tests and a working `h` function already written in Typescript. Compared to my first attempt, the current state of this is much closer to Picodom in structure, e.g. similarly factored in

[2018-01-19 15:41] mindplay-dk commented on #89
Added a quick build script displaying the minified/gzipped output size, and a bit to my surprise, it's only 1172 bytes, having made no attempts to remove duplication or make it smaller 😃

Anyways, that's all I've got time for today.

[2018-01-19 15:43] mindplay-dk commented on #89
To be fair, it still doesn't have `style` support, but it does have object/array `class` support, so likely this'll end up somewhere in the same ~1K region when it's all said and done.

[2018-01-19 16:14] dancespiele commented on #89
@mindplay-dk  the advertising for view library is 1k if it is more this would be misleading advertising ;)

[2018-01-19 21:21] mindplay-dk commented on #89
I've said that before, but my personal goal is to have something that is simple and useful - I'm only counting bytes to get an idea of whether it's still small, the impact of making a change, and so on. 1K or 2K is besides the point for me :-)

[2018-01-19 23:44] dancespiele commented on #89
I was kidding :). I would like collaborate but I will be busy the next two weeks, after that I will test everything and also try to give some idea. @mindplay-dk good job.

[2018-01-21 10:39] mindplay-dk commented on #89
if it actually works ;-)

[2018-01-24 04:18] rbiggs commented on #82
With Preact, Inferno and React, when a component first renders only  `componentWillMount` and `componentDidMount` fire. After that, when the component is updated `componentWillUpdate`, `componentDidUpdate`  and `componentWillReceiveProps` fire.

It doesn't make sense to me that you would expect an update event to fire when a component is first created. It's not being updated, it's being created. T

[2018-01-24 06:02] JorgeBucaran commented on #82
@rbiggs onupdate will always fire, but we expose the oldProps so you can figure out if something actually was updated or not.

[2018-01-24 08:09] zaceno commented on #82
@rbiggs we actually had `onupdate` working like you suggested for a while, but it didn't work out well.

For one, there might be reasons (arguably mischievous, but anyway) to want a hook/callback to do something in a component any time anything anywhere changes.

For two, since you'll mostly be writing your event handlers like `onclick: ev => actions.buttonClicked(),` -- that means function instan

[2018-02-02 10:32] mindplay-dk commented on #89
Sorry, guys, but I'm going to drop this rewrite for now - I simply can't dedicate the time and attention this needs, and it's a constant distraction. Being able to work on this for a day or so every two weeks is a futile effort - I can't recall what I was doing, and basically have to start over every time.

I'm hoping somebody else will pick up where I left off - the idea of the inner function `pa

[2018-02-08 09:53] zaceno opened #93 "VNode compatibility with Hyperapp 1.1"
Since hyperapp 1.1 changed the spec for virtual doms (`attributes` instead of `props` et c), I suggest we change Picodom to match.

Unless there's a particular reason for Picodom and Hyperapp to diverge, it seems like a good idea to keep them as compatible as possible, so that tools that produce or operate on vnodes can be compatible with both (such as Hyperapp-transitions). Also, I presume whatev

[2018-02-13 01:24] JorgeBucaran opened #94 "2.0 API"
Picodom@2.0.0 is coming to you very soon. The signature of <samp>patch</samp> needs to change, and I need your feedback to get it right.

Closes
- https://github.com/picodom/picodom/issues/80: I don't understand this issue.
- https://github.com/picodom/picodom/issues/77: I will add new tests.
- https://github.com/picodom/picodom/issues/92: Either one of below proposals will enable you to target a

[2018-02-13 01:48] JorgeBucaran commented on #52
I don't want to add a performance suite, but instead, use @krausest's benchmarks. I'll add Picodom there later as I am currently rewriting the diff algorithm. The diffing/patching will follow  https://github.com/hyperapp/hyperapp/issues/499#issuecomment-357557785.

[2018-02-13 01:48] #52 closed

[2018-02-13 01:50] JorgeBucaran commented on #36
@mindplay-dk Ping.

[2018-02-13 01:52] JorgeBucaran commented on #94
@mindplay-dk @JSteunou  @estrattonbailey @pspeter3 @maxholman @dancespiele

[2018-02-13 02:41] pspeter3 commented on #94
I wonder if it is worth making initial patch and update patch two different methods. Right now the name could be confusing.

[2018-02-13 03:04] JorgeBucaran commented on #94
@pspeter3 That might be a way to make "Double Espresso Steamed Soy Milk Foam" easier to document. But I am strongly swaying in favor of "Bitter Tea".

[2018-02-13 03:33] estrattonbailey commented on #94
Yeah, I personally agree: the API doesn't need to be overly concerned with developer experience.

When I was poking around a month or so ago, the main thing I wanted was a way to patch sub-trees so that state updates could be localized and not have to walk the entire tree. Would this be possible given the **Bitter Tea** approach?

[2018-02-13 08:51] mindplay-dk commented on #94
Did you ever look at [this](https://bitbucket.org/mindplaydk/veedom/src)? I've given up and have settled for Preact, but I'm positive this rewrite was headed in the right direction - I just can't dedicate the time to complete it. For one, this is fully type-hinted, so it should be much easier to work with - the test-suite is also much faster, fewer dependencies, type-hinted test-suite, inline comm

[2018-02-13 08:55] JorgeBucaran commented on #94
My diff/patch rewrite will fix the deferred problem, this proposal is just about API. And you are right, I am not trying to build something like Preact here, this is just Hyperapp's VDOM stripped so that people can play with it, customize or depend on to build their own tiny "functional" view frameworks. I think you always wanted to build something else.

[2018-02-13 08:57] JorgeBucaran commented on #94
Haha, sure I can.

[2018-02-13 11:32] mindplay-dk commented on #94
I concluded it wasn't possible, so I really look forward to seeing your solution ;-)

I don't think so? You just said yourself above that you wanted people to be able to build something like Preact with this - it isn't possible without some means of maintaining state.

[2018-02-13 11:35] mindplay-dk commented on #36
Ping what? There are two open pull requests 😉

I suppose all those PRs are scrap now, though - if you're going to rewrite the whole thing.

[2018-02-13 11:36] jorgebucaran opened #95 "Rename?"
Change name because of name collision with @hville's pico-dom.

@hville was first, so maybe we should fail in his favor. It's a shame to lose the logo though 😕

[2018-02-13 11:38] JorgeBucaran commented on #36
No, I mean, what's this issue about again?

[2018-02-13 11:40] JorgeBucaran commented on #94
Yes, but I definitely had something more like Hyperapp in mind. I updated the original post to reflect this.

[2018-02-13 11:41] brodybits commented on #95
Looks not active. From <https://github.com/hville/pico-dom/issues/1#issuecomment-359628668>:

[2018-02-13 11:43] mindplay-dk commented on #36
It's about type-hinting.

Try e.g. Preact with Typescript in VS Code for the full IDE experience - though this is not only for IDE support, but also for stricter and more correct validation during compilation with TS.

[2018-02-13 11:43] JorgeBucaran commented on #95
@brodybits Oh, interesting discovery. I should have looked into the issues. Thanks! 🎉

[2018-02-13 17:39] estrattonbailey commented on #94
Yep! I just wanted to contain state to a component and update the component and it's children starting from its position in the DOM, instead of having to traverse the entire tree from the top. I made a [demo](https://github.com/estrattonbailey/picodom-demo/blob/master/app/component.js#L20) using my fork a while back.

I'm not sure if it would be compatible with your rewrite, but that's okay! AFAIC

[2018-02-13 21:59] rbiggs commented on #94
I'm not sure why some of you think a return to the older call signature would make Preact-style stateful components impossible. I used the old call signature in version 0.2.0 to do just that. That call signature was:
[code]
Inside my component this becomes:
[code]
My component class keeps track of `oldNode`, `element` and `parent` (container). `node` is created when the component render function i

[2018-02-14 03:13] JorgeBucaran commented on #94
This proposal only affects how we mount stuff to the DOM, it doesn't (shouldn't) affect whether you
can make stateful components using Picodom or not, or am I wrong?

Hmm, and where did you want to contain the state?

[2018-02-14 08:32] mindplay-dk commented on #94
For the record, neither am I.

The main reason I took an interest in Picodom, was because of element-level life-cycle hooks, which seems much simpler and more elegant than having to write classes to achieve this control.

For this to work out in practice though, I concluded, you'd need some kind of "transparent" element - something like `DocumentFragment`, which represents a subtree with no common

[2018-02-14 09:00] jameswilddev commented on #94
In the case of the calendar example, it feels to me that the calendar should be its own VDOM as it is re-rendered at a different time to its surroundings.

If you can (or could?) include a raw DOM element in your VDOM, this would be quite easy to do from the API consumer end.

[2018-02-14 11:14] JorgeBucaran commented on #94
We don't need one in Hyperapp as this can be solved in userland. Same for Picodom. We don't need shouldComponentUpdate, because we **don't have stateful components**.

[2018-02-14 12:59] mindplay-dk commented on #94
I have seen too many wonky patterns to rely on userland to get this right.

I'm of course fine with a *library* not handling this - that's a matter of sticking to a defined scope, but if you expect a framework to be able to do this, the library must make that possible.

If it doesn't, then, yeah, you were probably right, maybe what I wanted was always something different, I just didn't know it yet

[2018-02-14 15:33] rbiggs commented on #94
Just to clarify, the new JSX syntax `<></>` is not an empty element. It's just a shorthand convenience for using `<React.Fragment></React.Fragment>`, which in turn creates a `documentFragment`. Since `documentFragments` only exist in memory and are thrown away when they are inserted into the DOM, they don't have properties. They do have a few attributes, such as `childNodes`, etc., and methods suc

[2018-02-14 17:30] JorgeBucaran commented on #94
@rbiggs You nailed it! 🙇 👍

[2018-02-15 21:04] rbiggs commented on #94
The more a look at it, the more I like the Double Espresso Steamed Soy Milk Foam proposal. Funny how that just rolls off the tongue. I like the support for SSR too. It basically gives those who want them a mount and a render/update. They can easily write a wrapper function for each. Besides, I've never been a big fan of bitter tea. A double espresso, no problem.

[2018-02-17 13:30] mindplay-dk commented on #94
You're describing React - not JSX, which merely [defines it](https://github.com/facebook/jsx) as a zero-or-more list of children. The JSX spec itself defines the syntax only, not the meaning.

That's what I was trying to get at. React provides a component concept, which provides a means of controlling the life-cycle of zero-or-more children. We currently don't have something like that in Picodom,

[2018-02-17 13:53] JorgeBucaran commented on #94
You can return an array from components, what's your point?

BTW I am closing here since I am ready to merge #96.

[2018-02-17 13:53] #94 closed

[2018-02-18 03:41] JorgeBucaran commented on #94
@mindplay-dk IIRC Preact components can return arrays in the same way Hyperapp components can, but there's no fragment support like in React.

[2018-02-20 18:49] JorgeBucaran commented on #95
I'd like to reopen and reconsider a name change based on the following:

- I've decided to remove the org and move picodom into my own username.
- After I rewrite the diff algo (few months from now) we may no longer be 1kB, hopefully still less than 2kB, though. At that point, tiny size might not be picodom's most distinctive feature.

[2018-02-22 15:52] mindplay-dk commented on #95
I don't think it's the *most* distinctive feature now? The main attraction for me is element-level life-cycle events. That's where Picodom deviates from other JSX libs conceptually. I'm honestly not interested in marginal byte-size savings or minor differences in terms of a single API point that most apps are going to invoke around once or so.

On the name topic, I think the name is great, the log

[2018-02-27 16:09] jorgebucaran commented on #95
Renamed to **patchdom**. 🎉

[2018-02-27 16:09] #95 closed

[2018-02-27 16:13] jorgebucaran commented on #89
This is it, folks!

[code]

The patch function now returns an element, if none is given, allowing you to append it to a container if that's what you want. If you pass an existing element instead, patchdom will patch **that** element (attempting to recycle any existing markup), instead of using it as a container like in the past.

[2018-02-27 16:13] #89 closed

[2018-02-27 16:13] jorgebucaran commented on #92
@rbiggs In the new API:

[code]

The patch function now returns an element, if none is given, allowing you to append it to a container if that's what you want. If you pass an existing element instead, patchdom will patch **that** element (attempting to recycle any existing markup), instead of using it as a container like in the past.

[2018-02-27 16:13] #92 closed

[2018-02-27 16:14] jorgebucaran commented on #66
https://github.com/hyperapp/hyperapp/issues/499

[2018-02-27 16:14] #66 closed

[2018-02-27 16:15] jorgebucaran commented on #93
Fixed!

[2018-02-27 16:15] #93 closed

[2018-02-27 16:15] jorgebucaran commented on #80
Applied.

[2018-02-27 16:15] #80 closed

[2018-02-27 16:33] rbiggs commented on #36
hmmm... so that's like boomtown?

[2018-02-28 01:59] #77 closed

[2018-02-28 01:59] jorgebucaran commented on #77
Tagged as invalid as I am no longer using this file! Thank you all.

[2018-03-01 00:56] rbiggs opened #99 "Name change broke Codepen pens"
All the Codepen pens that were using https://unpkg.com/picodom or https://unpkg.com/picodom@latest are currently broken due to the name change. At this point this means the vast majority are broken. Surprisingly, I have two pens that use specific versions of picodom and those still work. By the way, https://unpkg.com/patchdom doesn't seem to work. Unpkg.com says the package doesn't exist.

[2018-03-01 03:49] rbiggs commented on #99
Thanx, otherwise, congrats on the major upgrade.

[2018-03-01 03:49] #99 closed

[2018-03-01 09:20] mindplay-dk commented on #99
`picodom.js.org` is down as well - you might want to make sure it redirects? with the correct status code - or you'll lose the juice. A lot of links and bookmarks out there already.

[2018-03-01 12:01] JSteunou commented on #89
:clap: :clap: that was exactly the idea ! No need for a *wontfix* label, this **is** fixed ! :)

[2018-03-01 12:02] jorgebucaran commented on #89
🎉🤘😄🤘🎉

[2018-03-01 12:03] jorgebucaran commented on #89
I am writing docs now.

[2018-03-01 14:08] rbiggs commented on #99
hmmm... problem want to rename the Redit.com/r/picodom as well.

[2018-03-01 14:59] jorgebucaran commented on #99
@rbiggs Can't on reddit. 😓

[2018-03-02 21:32] mindplay-dk commented on #68
Tested this issue again with `ultradom@2.0.0` and it still doesn't work 😢

https://jsfiddle.net/mindplay/5vkfqg8x/

[2018-03-03 03:54] jorgebucaran commented on #68
@mindplay-dk Well, obviously, I didn't fix it for this release. I hope to tackle this when I rewrite the diff algo in Hyperapp.

[2018-03-05 15:59] brodybits opened #101 "‼️ Note that Ultradom was originally Picodom ‼️"
I saw a note that Picodom was renamed to Patchdom but not that it was then renamed to ultradom, was confused by "Ultradom" reference in <https://github.com/hyperapp/hyperapp/issues/632#issuecomment-370461629>. A note in README.md would be nice, I think.

[2018-03-07 14:41] rbiggs opened #106 "createNode/h attaches key to vnode."
I noticed that createNode/h function has been updated to attach the key directly to the virtual node:

[code]
Here, you assign an attribute key directly to the virtual node. Yet whenever you pass an attribute name to `updateAttribute`, that is always gotten from the virtual node's `attributes` property, not from the virtual node's key property assigned above. So I'm wondering why bother with this

[2018-03-07 14:52] jorgebucaran commented on #106
I am not sure what you mean? Do you mean to simplify `updateAttribute`'s `if (name === "key") {` check?

We use in `getKey`.
[code]

[2018-03-07 15:27] rbiggs commented on #106
Oh, doh. didn't notice that one.

[2018-03-07 15:27] #106 closed

[2018-03-07 15:33] jorgebucaran commented on #106
@rbiggs What about the other one? If there's room for improvements I'm all 👂s.

[2018-03-07 22:42] rbiggs commented on #106
Not sure what the other one you're referring to. Mind elaborating?

[2018-03-08 03:47] jorgebucaran commented on #106
Hmm, I think this part:

[2018-03-10 03:07] rbiggs commented on #106
Keys to the Kingdom of Virtual Dom
--------------------------------------

This is what's bouncing around in my head about how virtual doms are handling keys. We're talking React, Inferno, Preact and Picodom/Ultradom. First of all, don't take anything I say personally. This is just my opinion or pet peeve and does not even affect why or how I choose a library to use.

First let's go back in time.

[2018-03-11 17:38] mindplay-dk commented on #7
@jorgebucaran I started (yet another) rewrite in Typescript, and once again, I gave up.

https://bitbucket.org/mindplaydk/domsync

I wish you'd collaborate with me on this, since apparently I'm too stupid to grasp the `updateChildren()` idea and get it right 🙄

This time around, I've spent zero time on the external types - but I learned some important things about the internal type-hints: `make` i

[2018-03-12 04:24] jorgebucaran commented on #7
@mindplay-dk The company I work at recently switched to Hyperapp+TypeScript, so I've been learning TS in practice. Now, the bad news is I feel less enthusiastic about TS than I did 2 months ago. Maybe _I_ am too stupid to grasp the importance of it, but I feel TS just doesn't make sense for small code bases like Ultradom. I hope I am not alone in this sentiment.

Are you having trouble understandi

[2018-03-12 07:54] mindplay-dk commented on #7
YMMV.

For me, just being able to actually change the code and visually see the impact (in an IDE like VS Code) is enough to make it more than worth while.

While it's not a lot of code, it's a really *critical* small piece of code - it's going to be the code that underpins *all* of your UI, and therefore it's critical that it's correct, in the strictest possible sense of the word. Accepting a sim

[2018-03-12 09:12] SteveALee commented on #7
From my experience the sweet spot with ts is not to type everything but just the interfaces. These may be public or internal but they are the points were dependencies need to be explicit so you know when they are broken. Type script makes fully definging flexible JS interfaces pretty easy in most cases. Especially with its"generics".

I'd say it's worth persevering when you have more energy. Perha

[2018-03-12 17:14] pspeter3 commented on #7
That's my favorite piece of all of this.

[2018-03-18 20:41] pickle-ts commented on #65
In case it's of any help, I'm maintaining a typescript version of ultradom (here: https://github.com/pickle-ts/pickle/blob/master/src/dom.ts ). The types in question:

export interface VAttributes extends VLifecycle {
    key?: string | number
}

export interface VLifecycle {
    oncreate? (element: Element, attributes?: VAttributes) : void
    onupdate? (element: Element, attributes?: VAttributes

[2018-03-21 10:54] dancespiele commented on #7
@mindplay-dk testing my example project I realized that we need to improve the types. When I have time I will work on this and I will make a PR and we can discuss about this. Also I would like to implement ts-linter to check the style code for the future changes, if you make a PR earlier then perfect I can check that.
@jorgebucaran In my case typescript help me to think previously when I'm working

[2018-03-21 10:55] jorgebucaran commented on #7
@dancespiele https://github.com/jorgebucaran/ultradom/issues/7#issuecomment-372190490

[2018-03-21 21:36] JSteunou commented on #101
I also had hard time to follow, glad to find my way back to this repo :D

[2018-03-22 10:22] pickle-ts opened #107 "Asynchronously Removing Elements"
I'm using ultradom with animation. To make exit animations work, elements need to be asynchronously removed from the DOM. In other words, there's a delay between remove and destroy, where the vdom may get updated during that delay. To handle that scenario, I had to make the following change to the vdom algorithm to maintain integrity of the DOM:

[code]
Otherwise the patcher will assume a future s

[2018-03-22 12:51] jorgebucaran commented on #107
@pickle-ts Hmm, I don't understand what you are trying to do?

Did you read [this](https://github.com/jorgebucaran/ultradom#onremove)? or is this related to https://github.com/jorgebucaran/ultradom/issues/68?

[2018-03-22 14:52] pickle-ts commented on #107
When an element is removed (ultimately in response to the model changing), I'm intercepting the onremove callback to provide an exit animation.

Just scanned through issue #68; it's highly related.

I'll need to spend more time understanding the patching algorithm to work out whether the fix I've proposed works in the general case.

[2018-03-22 14:54] jorgebucaran commented on #107
Thanks, @pickle-ts! If you find out whether this is the same as #68, then let's close either of those issues to track the problem in only one place.

[2018-03-22 16:45] pickle-ts commented on #68
I've run into the same issue discussed in this thread. I'm trying to start an animation when an element is removed, but the animation is asynchronous, so the DOM might get patched before the asynchronous operation completes. This will mean the patcher corrupts the DOM, as the patcher's "truth" of the world is a future DOM where removed elements have been destroyed. The fix, or potentially hack, I'

[2018-03-30 09:48] jorgebucaran opened #108 "Idea: Dismantle, repurpose, transfer, reuse?"
Instead of reusing Ultradom in Hyperapp (which is totally possible, but a bit awkward in my opinion) what if [Hyperapp](https://github.com/hyperapp/hyperapp/) exported its `patch` function instead?

[code]

Thanks to tree-shaking, dependents of Ultradom will not need to include Hyperapp's state management portion. 🎉

My intention is to reuse code and remove the burden of maintaining both Hyperapp

[2018-03-30 10:54] frenzzy commented on #108
That is exactly what I proposed in https://github.com/hyperapp/hyperapp/issues/641#issuecomment-371089209

It opens new opportunities for userland, for example will be be possible to implement async (around which now is a hype in the React.js community) or priority (hello [fiber](http://isfiberreadyyet.com/)) rendering for hyperapp without overhead - no need to additionally use ultradom which just

[2018-03-30 11:13] dancespiele commented on #108
Ultadom is different. You don have to put the actions that it looks unless from my point of view and also you have more control when you want to changes something in the dom. The meaning of ultradom is a minimal library views which is use to build your own framework something that I'm doing with my framework [spiel-client](https://github.com/spieljs/spiel-client). @jorgebucaran if you don't want t

[2018-03-30 11:55] jorgebucaran commented on #108
@frenzzy Are you it's exactly the same? I am only talking about exposing `patch` to userland.

[2018-03-30 13:14] frenzzy commented on #108
State management is already available via `app` function.
Proof of concept: https://github.com/Swizz/hyperapp-term-poc
So, I also think it is not necessary to expose something more.
Just `h`, `app` and `patch` is enough.

[2018-03-30 14:48] rbiggs opened #109 "Code Organization"
This is more of a suggestion for source code organization. How about moving all the helper files into a subfolder that patch imports? Would make for a cleaner repository structure:

[code]

And update `patch.js` to import its dependencies like this:

[code]

[2018-03-30 15:31] jorgebucaran commented on #109
🤔

[2018-03-30 16:01] rbiggs commented on #108
Enabling the export of `patch` from Hyperapp would eliminate the reason for Ultradom. One less library to maintain. :-)

[2018-03-30 16:05] rbiggs commented on #109
Anyways, if [#108](https://github.com/jorgebucaran/ultradom/issues/108) happens, this wouldn't be necessary.

[2018-03-30 21:31] dancespiele commented on #108
I'm agree with this if I will be able to use hyperapp with patch exactly how I'm using with Ultradom, without actions. I mean hyperapp with the exacly patch that Ultradom.

[2018-03-31 07:20] mindplay-dk commented on #108
If that's possible, why not just extract the patch-function and *call* it ultradom? Just move the code to that package?

I've always said, the patch-function is a library function - what's actually Hyperapp is just a thin framework using that function. The fact that you'd be able to install Hyperapp and use tree-shaking to remove the framework practically proves my point.

The main reason not to p

[2018-03-31 07:35] jorgebucaran commented on #108
@mindplay-dk That's the plan no?

[2018-03-31 12:46] mindplay-dk commented on #108
It’s not what you described though?

I’m arguing in favor of two packages. Whether the patch library package is named ultradom or hyperapp-dom or something else is besides the point to me :-)

[2018-03-31 12:49] jorgebucaran commented on #108
So, you are basically in favor of either keeping things the way they are _or_ using ultradom as a dependency in Hyperapp.

I like the first, but not so much the latter. My current favorite is simply exporting patch from Hyperapp without much breakage and reuse this repo for a more feature-oriented vdom, something I am code-calling fringe for a while.

[2018-04-04 18:35] Wildhoney opened #110 "Issue with oncreate being called too early"
In my code I have the following snippet:

[code]

What I want to do is to render into the shadow boundary, however that doesn't seem to work after switching over to `ultradom`. I found a workaround where I simply `patch` with the second argument as `undefined` initially, and then append the `root` to the boundary. On second render we use the `previous.root` which I memorise, which diffs the two DO

[2018-04-04 20:43] Wildhoney commented on #110
The issue is also apparent in the example taken from the README:

[code]

Whereas in the README it also claims:

[2018-04-05 04:24] jorgebucaran commented on #110
oncreate is invoked inside `patch`, but **after** `patchElement`. We add it to a queue first:

https://github.com/jorgebucaran/ultradom/blob/1c43374fcb3d133341f00288ac677158adf5dd70/src/createElement.js#L13-L17

...then flush it after the DOM is patched.

https://github.com/jorgebucaran/ultradom/blob/1c43374fcb3d133341f00288ac677158adf5dd70/src/patch.js#L20

In Ultradom you are responsible for add

[2018-04-06 09:30] Wildhoney commented on #110
I think maybe it's just a case of updating the documentation to make it clear. There's no guarantee that when `oncreate` is invoked that the element is in the DOM. It depends how you invoke `patch`:

* If no `element` is provided then `oncreate`'s `isConnected` will be `false` as you `appendChild` after `patchElement`.
* If `element` is provided but its `isConnected` is `false` then `oncreate`'s `

[2018-04-06 09:37] jorgebucaran commented on #110
@Wildhoney I am not sure how to update the documentation.

Would the following API be problematic for you? Just curious.

[code]

[2018-04-07 10:59] Wildhoney commented on #110
It shouldn't be an issue because that's similar to how `ultradom` had it.

However, I'm not sure it *should* be changed for the sole reason of calling `oncreate` when the element is in the DOM, as even with the above change to the `patch` function, there's still no guarantee it's in the DOM.

By using my approach of `patch(tree, previous ? previous.root : initialRoot)` I can prevent the issue wher

[2018-04-07 11:01] jorgebucaran commented on #110
@Wildhoney Well, there's guarantee it will be _in_ the `container` no?

[2018-04-07 11:02] Wildhoney commented on #110
Yes, there's that guarantee with my change and with the proposed `patch` change.

[2018-04-07 11:32] Wildhoney commented on #110
As I see it, the `patch` change is unnecessary because I can achieve the same with:

[code]

As the above `appendChild` happens **before** the `patch`, whereas in the README it's showing the `appendChild` **after**. For me, I know `initialRoot` is in the DOM, and so I expect `x.isConnected` to be `true`, which it is.

Whether we use the above code or change `patch` to the old style, the guarantee

[2018-04-07 13:04] jorgebucaran commented on #110
@Wildhoney How would you like me to change the README?

[2018-04-18 20:14] trueadm commented on #106
@rbiggs I just saw your comment, so I thought I'd reply.

Having all the props on the VNode would indeed be the fastest in most cases and result in less memory. The issue is that you'd break the hidden class of the VNode by doing so. When working on Inferno, the team and I found that `className` was the most commonly used `prop` when rendering to the DOM on almost all projects we looked over. For

[2018-04-19 11:12] jorgebucaran commented on #108
https://github.com/jorgebucaran/ultradom/releases/tag/3.0.0

[2018-04-19 11:12] #108 closed

[2018-04-19 11:14] jorgebucaran commented on #109
Still not sure what I am going to do about this. I often change my mind inexplicably, so I may reconsider this in the future. I don't see any use of keeping this issue open since this is not an actual problem so closing. Thanks for the suggestion @rbiggs!

[2018-04-19 11:14] #109 closed

[2018-04-19 11:17] jorgebucaran commented on #68
https://github.com/jorgebucaran/ultradom/releases/tag/3.0.0 🎉

[2018-04-19 11:17] #68 closed

[2018-04-19 11:17] jorgebucaran commented on #107
https://github.com/jorgebucaran/ultradom/releases/tag/3.0.0 🎉

[2018-04-19 11:17] #107 closed

[2018-04-19 11:24] jorgebucaran commented on #110
@Wildhoney https://github.com/jorgebucaran/ultradom/releases/tag/3.0.0

You can't no longer target a specific element to update, but only specify a container, so oncreate is guaranteed to run when the element already exists in the container.

[2018-04-19 11:24] #110 closed

[2018-04-19 11:33] rbiggs commented on #109
The only issue that matters right now any ways is Hyperapp 2.0 #672. ;-)

[2018-04-19 13:40] jorgebucaran commented on #68
@mindplay-dk What does preact do here anyway? 🤔

[2018-04-19 14:29] mindplay-dk commented on #68
Per the [docs](https://preactjs.com/guide/api-reference#preact-render-), lets you specify the parent-node and *optionally* a child-node to replace - if no child-node is specified, it appends a new one to the container and returns the newly created node.

Again, this seems to be geared towards convenience, like a framework - I think a more library-like approach would be to set aside convenience con

[2018-04-19 14:34] jorgebucaran commented on #68
@mindplay-dk We were talking about an edge-case with render, this convo has nothing to do with the API. I asked what does preact do to avoid the bug you found.

[2018-04-19 14:49] mindplay-dk commented on #68
Sorry, I'm getting mixed-up between two different issues 🙄

It doesn't support deferred removals, so... I have no idea.

I've never managed to implement animation in either React or Preact yet. I understand there's a whole big add-on library to do that, so it's probably non-trivial.

The unexpected reordering isn't really the issue anymore though, I think?

The new problem is `done()` sometimes fa

[2018-04-19 14:59] jorgebucaran commented on #68
I think React/Preact's equivalent of <samp>ondestroy</samp> is <samp>componentWillUnmount</samp>, so are you saying there is no equivalent of <samp>onremove</samp>?

[2018-04-19 15:09] mindplay-dk commented on #68
Yeah, for components, sure - but not for elements, as far as I know.

For elements, there's the `ref`-attribute, which as far as I know is the only element-level life-cycle feature - it gets called with the element after creation, and again with `null` after the element gets removed, hence (to my knowledge) no direct way of animating addition/removal of elements.

So if I had to port this example

[2018-04-19 15:25] jorgebucaran commented on #68
@mindplay-dk What is Preact's equivalent of onremove for components?

[2018-04-19 15:27] jorgebucaran commented on #68
The example you made is very useful to diagnose and play with this bug. It's actually fun. It's also frustrating haha.

[2018-04-19 15:32] mindplay-dk commented on #68
I don't think they have one.

I think you'd have to wrap the component in another component that controls the inner component's life-cycle, but I honestly have no idea how they do it. All I know is it's not straight-forward. I think nobody hand-rolls their own animations, most people use [this](https://github.com/reactjs/react-transition-group) or something similar.

[2018-04-19 15:41] jorgebucaran commented on #68
But I am also considering to simply remove <samp>onremove</samp> for good.

[2018-04-19 15:53] jorgebucaran commented on #68
Okay, your example helped me confirm that this definitely can be fixed by storing the element in the node. When I console the element and the node, I can see that every time an element is "forgotten" the node and the element don't match, so they're getting mixed up.

[2018-04-19 19:35] mindplay-dk commented on #68
😱

😌

This is what I tried to explain to you repeatedly, what I was trying to show you in the (broke ass) implementations I came up with - making the DOM itself the "source of truth" is the only way to approach this. the implementation will be completely hardy against external modifications from custom DOM manipulations or third-party libraries; it'll recover from any state to the desired state, a

[2018-04-23 18:29] zaceno commented on #68
At least the way it works in petit-dom (the only vdom I’ve played much with besides Ultradom), as far as I can tell, the way you do any lifecycle events is to provide a component in the form of an object which defines the mount, unmount and patch methods.

When you do that, how the tree is handled from that point on is entirely up to you, including removing or deferring removal of the element.

As

[2018-05-04 07:35] #101 closed

[2018-05-04 07:35] #7 closed

[2018-05-04 15:39] jorgebucaran commented on #7
@pspeter3 @mindplay-dk I gave it another shot and rewrote it in TS (managed to get tsc to compile), but it was PITA to set up the tests with Jest (it didn't work flawlessly using the current config) so I just gave up.

[2018-05-04 15:58] pspeter3 commented on #7
Would it help if I set up the configuration for you?

[2018-05-04 16:00] jorgebucaran commented on #7
@pspeter3 It would. I am curious about the options we have to test with TS. 🙏

[2018-05-04 19:10] mindplay-dk commented on #7
I successfully used `tape` with `jsdom` with full type-checking in [this project](https://bitbucket.org/mindplaydk/domsync/src/master/). (I generally avoid big complicated test-frameworks, but if I needed to run tests in a headless browser environment, I'd probably give Jest a shot as well. For my own purposes `jsdom` was fine.)

[2018-05-04 19:27] pspeter3 commented on #7
For what it's worth, jest is mostly a wrapper around Jasmine/JsDOM/NYC.

[2018-05-05 00:12] jorgebucaran commented on #7
@pspeter3 Do I need another package to use Jest with TS? That's where I got stuck.

[2018-05-05 07:37] SteveALee commented on #7
Any use? https://github.com/facebook/jest/tree/master/examples/typescript

[2018-05-05 21:27] pspeter3 commented on #7
You need to have ts-jest too which will do in memory compilation. Is there a branch I can work off?

[2018-05-06 01:31] jorgebucaran commented on #7
Hmm, yeah, I saw it, and I figured there must be a better way so I looked elsewhere, found nothing and eventually gave up.

[2018-05-06 18:10] pspeter3 commented on #7
Well you can either compile the TypeScript first using the TypeScript compiler or you can register a transform for jest. Do you have a preference between the two?

[2018-05-08 00:41] pspeter3 commented on #7
It is merely a compiler. Most frameworks support TS with minimal effort/configuration.

[2018-05-08 03:42] jorgebucaran commented on #7
@pspeter3 Do you know any TS projects using jest with a minimal configuration? I'd love to have a peek. I still haven't completely given up on this.

[2018-05-08 03:50] pspeter3 commented on #7
Here is an outdated `package.json`

[code]

[2018-05-08 07:34] jorgebucaran commented on #7
Well, sounds like a holy mess.

[2018-05-08 08:40] mindplay-dk commented on #7
@jorgebucaran relax 😄 it's not too bad... and, counterpoint: the mess is inherent to JS and was there the whole time - TS at least brings some degree of structure to that mess. (that's kind of it's whole reason for existing in the first place.)

[2018-05-08 19:00] mindplay-dk commented on #7
Then you should have picked `tape` and not `jest` ;-)

Joking aside, this doesn't really add a dependency - this just adds type-checking for `jest`, which is a single `.d.ts` file. This is completely normal when using plain JS packages in TS - although a growing number of packages ship with a built-in `.d.ts`, `jest` currently does not.

That has nothing to do with this issue - you will still acco

[2018-05-10 02:41] jorgebucaran opened #114 "How to use with JSX?"
JSX is an optional language syntax extension that lets you write HTML tags interspersed with JavaScript. Because browsers don't understand JSX, you must use a compiler like Babel to transform it into `ultradom.h` function calls.

[code]

To use JSX install the JSX transform plugin and add a pragma option to your `.babelrc` file.

[code]

[2018-05-12 17:08] dancespiele opened #115 "I try to support component for jsx"
I'm trying support component for jsx with this
[code]
 but in the version 3.2.2 I get this error
`TypeError: ultradom_1.h is not a function`

This issues didn't happen in the version 3.0.1

[2018-05-13 01:01] Pyrolistical commented on #71
Apparently in order to support this you need to expose a function and set it to paramFrag

https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-react-jsx/README.md

[2018-05-13 02:39] jorgebucaran commented on #71
Yeah, but that's just one part. In order to support this createElement and patch must be modified also to process fragments. This functionality is coming to Hyperapp someday, after 2.0 and other priorities are sorted out, but not to Ultradom.

[2018-05-13 02:39] #71 closed

[2018-05-13 02:45] jorgebucaran commented on #115
@dancespiele Works just fine.

[code]

<img width="826" alt="screen shot 2018-05-13 at 11 45 37" src="https://user-images.githubusercontent.com/56996/39963328-2ebeb95c-56a3-11e8-8e4b-f7237ae0608f.png">

[2018-05-13 10:45] dancespiele commented on #115
did you test in typescript?

[2018-05-20 01:26] jorgebucaran commented on #115
Resolved.

[2018-05-20 01:26] #115 closed

[2018-05-28 08:10] mindplay-dk opened #117 "Attribute-hooks"
Support for `style` diffing (setting `style` to an `object` value) was [removed](https://github.com/jorgebucaran/ultradom/commit/2a8f478841a6088505cf2f0ddc8d67bf0edb2bdd), and there is currently no way for a library to add it back in.

As discussed [here](https://github.com/jorgebucaran/ultradom/commit/2a8f478841a6088505cf2f0ddc8d67bf0edb2bdd#commitcomment-29087144) this could be solved by reconsi

[2018-05-30 12:02] jorgebucaran commented on #117
@mindplay-dk Is using a function that produces a `style` string out of the question?

[2018-05-31 07:17] mindplay-dk commented on #117
I suspect it'd be more complex than the simple diffing of style-properties the way it was before.

Also doesn't make sense in terms of performance - you'll diff objects and compose strings just to have DOM immediately parse those strings back into values.

Either way, regardless of how it's implemented, the point of your removing this was, it's outside the scope of the library, right?

So I guess

[2018-05-31 07:31] jorgebucaran commented on #117
Some ideas:

- Options (third argument to render).
- New lifecycle event `onpatch`, called both before oncreate and onupdate.
- Support this via oncreate/onupdate.

[2018-05-31 07:32] jorgebucaran commented on #117
Another attribute that would benefit from this system is class/className.

[2018-05-31 11:11] mindplay-dk commented on #117
Doesn't help implement support for `style` *globally* in a library/framework that uses ultradom?

Same.

Stateless and functional - yeah, that sounds good.

So, taking from `updateAttribute` signature (minus the without the attribute `name`, which is a given) a hook implementation in an enhanced `render()` function might look something like:

[code]

Alternatively, taking from `updateElement` rath

[2018-06-19 01:20] raphael-costa opened #118 "omf"
Hey man, it's been 2 years! Have you stopped trolling /r/fishshell? I decided to open the subreddit and I was surprised to see fisherman and your little fight hadn't been mentioned at all! OMF is also going strong.

Nice of you! You really were an ass when you DMCA OMF like that but I see you stopped wasting our times.

Have a  good day and feel free to report this to our new Microsoft Overlords,

[2018-06-19 01:20] #118 closed

[2018-06-26 12:20] jorgebucaran opened #119 "ultraDOM rebranded as Superfine"

[2018-06-26 16:38] rbiggs opened #120 "Support for JSX"
In the README it mentions that this ever-differently named project supports JSX. In fact it does not.
Here's an example using the default `h` function:

[code]
This works as expected. Now if we change this to use JSX:

[code]
This does not work. Instead we get an error:

[code]
This points to line 48.
That because of changes made to the `h` function. This is because, unlike the `h` function, a JSX

[2018-06-26 16:42] jorgebucaran commented on #120
@rbiggs JSX pure functional components (or JSX tags are you call them) are no longer natively supported.

Here is a minimal way to add it back.

[code]

[2018-06-26 16:42] #120 closed

[2018-06-26 16:47] jorgebucaran commented on #120
Do you think we should add it back by default?

[code]

...is just one possible way to implement it. Users may want a different signature, for example:

[code]

etc.

[2018-06-26 16:57] rbiggs commented on #120
Well, that is your call. I just noticed the lack of JSX tag support today with the new new name ;-) I think most people would expect JSX tags to just work, same as they do in Hyperapp, Preact, Inferno, React, etc. A hypersrcipt function that doesn't handle JSX tags just don't feel that hyper. Better to ask some of your collaborators: @andrewiggins, @zaceno, @acstll and @mindplay-dk.

[2018-06-28 01:18] RyanNerd opened #122 "Difference/advantages to superfine over Hyperapp/React?"
I'm not being surly -- I am just asking. I've used:
* Angular
* Ember
* React

I like React the most out of these three. On a whim I decided to look into other frameworks to see how they stack up against the frameworks I've used. I came to this site from [here](https://dev.to/mindplay/comment/1n7d) and to be quite honest superfine appears to be Hyperapp clone but not as mature. Am I wrong?

[2018-06-28 02:10] jorgebucaran commented on #122
Superfine is similar to React from that list, but it's very different to Angular and Ember.

Superfine is lower level than React and Hyperapp as it doesn't have an opinion on state management or a stateful component system. Hyperapp is going through some changes and 2.0 will add new abstractions which Superfine will never have.

There's also preact (4kB), a pre-fiber React clone. And Inferno (8kB)

[2018-06-28 02:10] #122 closed

[2018-06-28 05:43] mindplay-dk commented on #120
IMO, it's so little code, there's no real point in not having support for that.

And I think it matters, if you want someone to be able to try it out and play around immediately.

Likely, most people interested to begin with are looking to use JSX - there's no reason to discourage them.